<app-header></app-header>
 <app-sidenav></app-sidenav>
 <div id="content" class="app-content"  role="main">
  <div class="app-content-body ">
 <div class="top">
  <div class="row t-main">
    <div class="col-sm-6 col-xs-12 t-main-1">
      <h4 class="m-n  t-main1">Deal View List </h4>
    </div>
    <div class="col-sm-6 text-right poppins">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb t-main" style="cursor: pointer;">
          <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;" routerLink="/">Dashboard</li>
          <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Deal</li>
        
          <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color:red;">Deal View List</li>
        </ol>
      </nav>
    </div>
  </div>
     
</div>
 <kendo-grid
    [kendoGridBinding]="gridView"
    kendoGridSelectBy="id"
    [selectedKeys]="mySelection"
    [pageSize]="10"
    [pageable]="true"
    [sortable]="true"
    [reorderable]="true"
    [resizable]="true"
    [height]="500"
    [columnMenu]="{ filter: true }"
  >
    <ng-template kendoGridToolbarTemplate>
      <input
        placeholder="Search in all columns..."
        kendoTextBox
        (input)="onFilter($event)"
        />
      <kendo-grid-spacer></kendo-grid-spacer>
      <button class=" button" style="background-color: #7266BA;border:1px solid #7266BA;"> <a routerLink="/t-deal"><i _ngcontent-suu-c437="" class="fa fa-bars"></i>
        T - view</a></button>
      <button *ngIf="userPermission?.dealcreate" class="button" > <a routerLink="/create-deal">Create New Deal</a></button>
      <!-- <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button> -->
      <!-- <button kendoGridExcelCommand type="button" icon="file-excel">
        Export to Excel
      </button> -->
    </ng-template>
    
    
      <kendo-grid-column field="deal_id" title="ID" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- <div
            class="customer-photo"
            [ngStyle]="{ 'background-image': photoURL(dataItem) }"
          ></div> -->
          <div class="customer-name" style="color: red;">{{ dataItem.deal_id }}</div>
          <div class="customer-name" ><i class="fa fa-calendar-check-o" style="color:green;" aria-hidden="true"></i> : {{ dataItem.created_date_time }}</div>
          <div class="customer-name" ><i class="fa fa-calendar-plus-o" style="color:red;" aria-hidden="true"></i> : {{ dataItem.modified_date_time }}</div>
          <div class="customer-name" >Aging: {{ dataItem.aging }}</div>
          <!-- <div class="customer-name" >{{ dataItem.created_date_time.split('T')[0] }}</div> -->
        </ng-template>
      </kendo-grid-column>


      <kendo-grid-column field="company_name" title="Account" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- <div
            class="customer-photo"
            [ngStyle]="{ 'background-image': photoURL(dataItem) }"
          ></div> -->
          <div class="customer-name" style="color: red;">{{ dataItem.company_name.toUpperCase() }}</div>
          <div class="customer-name" >{{ dataItem.contact_name.toUpperCase() }}</div>
          <!-- <div class="customer-name" >{{ dataItem.created_date_time.split('T')[0] }}</div> -->
        </ng-template>
      </kendo-grid-column>


      <kendo-grid-column field="deal_owner" title="Deal Owner" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
      
          <div class="customer-name" >{{ dataItem.deal_owner[0].username.toUpperCase() }}</div>
          <!-- <div class="customer-name" >{{ dataItem.created_date_time.split('T')[0] }}</div> -->
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="deal_title" title="Deal Title" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="customer-name" >{{ dataItem.deal_title.toUpperCase() }}</div>
          <div class="customer-name" >Rs. {{ dataItem.totalAmount }}</div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        field="deal_type"
        title="Deal Type"
        [width]="100"
        [class]="{ 'text-center': true }"
        [resizable]="false"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{dataItem.deal_type.toUpperCase()}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="deal_status_stage"
        title="Deal Status"
        [width]="100"
        [class]="{ 'text-center': true }"
        [resizable]="false"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{dataItem.deal_status_stage.toUpperCase()}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
      field="deal_location"
      title="Deal Location"
      [width]="100"
      [class]="{ 'text-center': true }"
      [resizable]="false"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div>{{dataItem.deal_location[0].branch_name.toUpperCase()}}</div>
    </ng-template>
    </kendo-grid-column>

      <kendo-grid-column
      title="Approval"
      [width]="80"
      [class]="{ 'text-center': true }"
      [resizable]="false"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
      
      <div class="customer-name" > <span style="font-weight: 800;">Approved By</span>: {{ dataItem?.approved_by?.username.toUpperCase() }}</div>
      <div class="customer-name" > <span style="font-weight: 800;">Verified By</span>: {{ dataItem?.verified_by?.username.toUpperCase() }}</div>
     
    </ng-template>
    </kendo-grid-column>

      <kendo-grid-column
        title="Action"
        [width]="70"
        [class]="{ 'text-center': true }"
        [resizable]="false"
        [filterable]="false"
        
      >
        <ng-template kendoGridCellTemplate let-quote>
          <!-- <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog"></i>
            <span class="caret" style="margin-left: 5px;"></span></button>
            
            <ul class="dropdown-menu">
              <li *ngIf="userPermission?.dealedit && !quote.verified"><p  [routerLink]="['/edit-deal',quote.deal_id]"><i class="fa fa-edit"></i>Edit</p></li>
              <li *ngIf="userPermission?.dealview && !quote.verified"><p  [routerLink]="['/view-deal',quote.deal_id]"><i class="fa fa-edit"></i>View Deal</p></li>
              <li *ngIf="userPermission?.dealverifier && !quote.verified"><p (click)="handleVerify(quote._id)"><i class="fa fa-edit"></i>Verify</p></li>
              <li *ngIf="userPermission?.dealapprover && !quote.aprroved"><p (click)="handleApprove(quote._id)"><i class="fa fa-edit"></i>approve</p></li>
              
            </ul>
          </div> -->
          <kendo-menu>
            <kendo-menu-item icon="gear">
              <kendo-menu-item icon="edit" *ngIf="userPermission?.dealedit">
                <ng-template kendoMenuItemTemplate >
                  <div [routerLink]="['/edit-deal',quote.deal_id]" style="width: 100%;">
                    Edit
                  </div>
                </ng-template>
              </kendo-menu-item>

              <kendo-menu-item icon="check" *ngIf="userPermission?.dealverifier && !quote.verified" >
                <ng-template kendoMenuItemTemplate >
                  <div (click)="handleVerify(quote._id)" style="width: 100%;">
                    Verify
                  </div>
                </ng-template>
              </kendo-menu-item>

              
              <kendo-menu-item  icon="track-changes-accept-all" *ngIf="userPermission?.dealapprover && !quote.aprroved">
                <ng-template kendoMenuItemTemplate >
                  <div  (click)="handleApprove(quote._id)" style="width: 100%;">
                    Approve
                  </div>
                </ng-template>
              </kendo-menu-item>

              <!-- <kendo-menu-item > 
                <ng-template kendoMenuItemTemplate >
                  <div >
                    Clone
                  </div>
                </ng-template>
              </kendo-menu-item> -->
              <!-- <kendo-menu-item >
                <ng-template kendoMenuItemTemplate >
                  <div >
                    Status
                  </div>
                </ng-template>  
              </kendo-menu-item> -->
              <!-- <kendo-menu-item   >
                <ng-template kendoMenuItemTemplate >
                  <div >
                    Convert to Quote
                  </div>
                </ng-template>  
              </kendo-menu-item> -->
              <!-- <kendo-menu-item > 
                <ng-template kendoMenuItemTemplate >
                  <div (click)="handleDelete(quote._id)">
                    Delete
                  </div>
                </ng-template>  
              </kendo-menu-item> -->
              <!-- <kendo-menu-item   url="" text="Download Excel" > </kendo-menu-item> -->
             
              <kendo-menu-item  icon="eye" *ngIf="userPermission?.dealview && quote.aprroved"> 
                <ng-template kendoMenuItemTemplate >
                  <div >
                    <a [routerLink]="['/view-deal',quote.deal_id]" target="_blank">
                      
                      View Quote
                    </a>
                  </div>
                </ng-template>
              </kendo-menu-item>
              
            </kendo-menu-item>
          </kendo-menu>

         
        </ng-template>
      </kendo-grid-column>
   
    
  </kendo-grid>
  </div>
  </div>