
<app-header ></app-header>
<app-sidenav ></app-sidenav>
    <div id="content" class="app-content"  role="main">
        <div class="app-content-body ">
          <div class="top">
            <div class="row t-main">
              <div class="col-sm-6 col-xs-12 t-main-1">
                <h4 class="m-n  t-main1">Create Leads</h4>
              </div>
              <div class="col-sm-6 text-right poppins">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb t-main" style="cursor:pointer;">
                    <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;" routerLink="/">Dashboard</li>
                    <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;" >Leads</li>
                    <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;" routerLink="/lead">Leads View List</li> 
                    <!-- <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;"> Account View List</li> -->
                    <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color:red;"routerLink="/create-lead">Create New Leads</li>
                  </ol>
                </nav>
              </div>
            </div>
               
          </div>
       
        <div class="wrapper-md" ng-controller="FormDemoCtr5">
           <form [formGroup]="leadForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Lead  Information</div> 
                <div class="panel-body">
               
                  <div class="col-md-4 form-group">  
                    <label >Lead ID <span class="text-danger">*</span></label> 
                      <input type="text" [attr.disabled]=true class="form-control" placeholder="" formControlName="lead_id">
                    </div>
                      <div class="col-md-4 form-group">
                        <label >Lead Owner <span class="text-danger">*</span></label>
                          <!-- <input type="text" [attr.disabled]=true value={{this.loggedInUser}} class="form-control" placeholder="Lead Owner" formControlName="lead_owner"> -->
                          <!-- <select value={{this.loggedInUser}} (change)="handleOwnerChange($event)" formControlName="lead_owner" id="lead_owner" class="form-control"  >
                            <option *ngFor="let owner of users" value={{[owner.username,owner._id]}}>{{owner.username}}</option>
                          </select> -->
                            
                          <ng-multiselect-dropdown
                            [placeholder]="'Select a User'"
                            [settings]="ownerDropdownSettings"
                            [(ngModel)]="selectedUser"
                            [data]="users"
                            formControlName="lead_owner"
                            (onSelect)="handleOwnerChange($event)"
                            >
                          </ng-multiselect-dropdown>

                          <div *ngIf="f.lead_owner.errors && f.lead_owner.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.lead_owner.errors.required"><small>Select Lead Owner.</small></div>
                        </div>
                        </div>
                  
                     
      
                          <div class="form-group  col-md-4 ">
                            <label >Company Name<span class="text-danger">*</span></label>
                              <div class="input-group">
                                <span class="input-group-addon  " style="color:gray;font-size:20px;background:white; border-right:0px;"><i class="fa fa-building"></i></span>
                                <ng-multiselect-dropdown
                                [placeholder]="'Select a Company'"
                                [settings]="dropdownSettings"
                                [data]="accountData"
                                formControlName="selected_company"
                                (onSelect)="onItemSelect($event)"
                               
                                >
                                </ng-multiselect-dropdown>

                                <span class="input-group-addon " style="color:red;font-size:20px;background:white;border-radius: 0px;"><a style="width:100%" routerLink="/create-account">+</a></span>
                            </div>
                            <div *ngIf="f.selected_company.errors && f.selected_company.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.selected_company.errors.required"><small>Lead Source is required.</small></div>
                          </div>
                            </div>
                            <div class="clearfix"></div>
                        
                          <div class="form-group  col-md-4 ">
                            <label>Contact <span class="text-danger">*</span></label>
                          
                              <div class="input-group">
                                <span class="input-group-addon  " style="color:gray;font-size:20px;background:white;border-radius: 0px; border-right:0px;"><i class="fa fa-user"></i></span>
                                <ng-multiselect-dropdown
                                [placeholder]="'Select a Contact'"
                                [settings]="contactDropdownSettings"
                                [data]="contactTempData"
                                formControlName="selected_contact"
                                (onSelect)="onContactSelect($event)"
                                [(ngModel)]="selectedCompany"
                                >
                                </ng-multiselect-dropdown>
                                <span class="input-group-addon " style="color:red;font-size:20px;background:white;border-radius: 0px;"><a routerLink="/create-contact">+</a></span>
                            </div>
                            <div *ngIf="f.selected_contact.errors && f.selected_contact.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.selected_contact.errors.required"><small>Lead Source is required.</small></div>
                          </div>
                            </div>
                             
                          
                          <div class="col-md-4 form-group">
                            <label>Lead Source <span class="text-danger">*</span> </label>
                           
                            <select formControlName="lead_source" id="lead_source" class="form-control"  >
                              <option value="" selected disabled> Select Lead Source </option>
                              <option value="Inbound OEM">Inbound OEM</option>
                              <option value="Inbound Direct Customer">Inbound Direct Customer</option>
                              <option value="Inbound Advertisement">Inbound Advertisement</option>
                              <option value="Outbound Cold Call">Outbound Cold Call</option>
                              <option value="Outbound Routine">Outbound Routine</option>
                              <option value="Website">Website</option>
                              <option value="Others">Others</option>
                            </select> 
                            <div *ngIf="f.lead_source.errors && f.lead_source.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.lead_source.errors.required"><small>Lead Source is required.</small></div>
                          </div>
  
                            </div>
        
                         
                          <div class="col-md-4 form-group">
                            <label >Lead Title<span class="text-danger">*</span> </label>
                            
                              <input type="text" class="form-control" placeholder="Enter  Lead Title" formControlName="lead_title">
                              <div *ngIf="f.lead_title.errors && f.lead_title.errors.required && isValidFormSubmitted"
                              class="text-danger text-left mb-1 errorcontrols">
                              <div *ngIf="f.lead_title.errors.required"><small>Lead Title is required.</small></div>
                            </div>
                            </div>
                            <div class="clearfix"></div>
                         
                          <div class="col-md-4 form-group">
                            <label >Lead Type<span class="text-danger">*</span> </label>
                            
                              <select formControlName="lead_type" id="lead_type" class="form-control" >
                                <option value="" selected disabled>Select Lead Type </option>
                                <option value="Project">Project</option>               
                                <option value="Solution">Solution</option>               
                                <option value="Standard">Standard</option>                
                                </select> 
                                <div *ngIf="f.lead_type.errors && f.lead_type.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.lead_type.errors.required"><small>Lead Source is required.</small></div>
                          </div>
                            </div>
                         
      
                        <div class="col-md-4 form-group">
                          <label>Referral  </label>
                          
                            <input type="text" class="form-control" placeholder="Enter Your Referral" formControlName="referral">
                          </div>
                       
                        
                        <!-- <div class="col-md-4 form-group">
                            <label >Industry  <span class="text-danger">*</span>  </label>
                          
                              <select formControlName="industry" id="industry" class="form-control"  >
                                <option value="" selected disabled>Select Industry </option>
                                <option value="Casting & Forging">Casting & Forging</option>
                                <option value="Defence">Defence</option>
                                <option value="Heavy - Power / Steel">Heavy - Power / Steel</option>
                                <option value="Integrator">Integrator</option>
                                <option value="MVI OEM">MVI OEM</option>
                                <option value="MVI Vendor">MVI Vendor</option>
                                <option value="Non MVI Assembly">Non MVI Assembly</option>
                                <option value="Non MVI Process">Non MVI Process</option>
                                <option value="Government /  Public Sector">Government /  Public Sector</option>
                                <option value="Railways">Railways</option>
                                <option value="Trader Misc">Trader Misc</option>
                                <option value="Others">Others</option>
                              </select> 
                              <div *ngIf="f.industry.errors && f.industry.errors.required && isValidFormSubmitted"
                              class="text-danger text-left mb-1 errorcontrols">
                              <div *ngIf="f.industry.errors.required"><small>Lead Industry is required.</small></div>
                            </div>
                            </div> -->
                            
                            <div class="col-md-4 form-group">
                          <label  >Lead Estimated Value   </label>
                          <div class="input-group">
                            <span class="input-group-addon  " style="color:gray;font-size:20px;background:white;border-radius: 0px; border-right:0px;"><i class="fa fa-rupee"></i></span>
                            <input type="number" class="form-control" placeholder="Enter Your Estimated Value" formControlName="estimated_value">
                          </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        <div class="col-md-4 form-group">
                            <label >Lead Status <span class="text-danger">*</span></label>
                           
                            <select formControlName="lead_status_stage" id="lead_status_stage" class="form-control" >
                              <option value="" selected disabled> Lead Status </option>
                              <option value="Information Required">Information Required</option>
                              <option value="Quote to be Prepared">Quote to be Prepared</option>
                              <option value="Lost">Lost</option>
                              <!-- <option value="Others">Others</option> -->
                            </select> 
                            <div *ngIf="f.lead_status_stage.errors && f.lead_status_stage.errors.required && isValidFormSubmitted"
                              class="text-danger text-left mb-1 errorcontrols">
                              <div *ngIf="f.lead_status_stage.errors.required"><small>Lead Status is required.</small></div>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    
                      <!-------end content1-->
      <!-------start content2-->
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="panel panel-default">
                          <div class="panel-heading font-bold">Account Information </div> 
                          <div class="panel-body">
                         
                            <div class="col-md-4 form-group">
                              <label >Industry   </label>
                              
                                <input type="text" [attr.disabled]=true value={{this.company_industry}} class="form-control" />
                              <!-- <select formControlName="" id="" class="form-control"  required>
                                <option  selected disabled> Select Industry</option>
                                <option value="">drs</option>
                                <option value="">vf</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                              </select>  -->
                            </div>
                            
                      
                            <div class="col-md-4 form-group">
                              <label >Country   </label>
                             
                                <input [attr.disabled]=true value={{this.company_country}} class="form-control" type="text"/>
                              <!-- <select formControlName="" id="" class="form-control"  required>
                                <option  selected disabled> Select Country  </option>
                                <option value="">drs</option>
                                <option value="">vf</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                              </select>  -->
                            </div>
                           
                      
                            <div class="col-md-4 form-group">
                              <label >State   </label>
                           
                                <input [attr.disabled]=true value={{this.company_state}} class="form-control" type="text"/>
                              <!-- <select formControlName="" id="" class="form-control"  required>
                                <option  selected disabled> Select State  </option>
                                <option value="">drs</option>
                                <option value="">vf</option>
                                <option value=""></option>
                              </select>  -->
                            </div>
                            <div class="clearfix"></div>
                      
                            <div class="col-md-4 form-group">
                              <label >City    </label>
                              
                                <input [attr.disabled]=true value={{this.company_city}} class="form-control" type="text"/>
                              <!-- <select formControlName="" id="" class="form-control"  required>
                                <option  selected disabled> Select City </option>
                                <option value="">drs</option>
                                <option value="">vf</option>
                                <option value=""></option>
                              </select>  -->
                            </div>
                           
                      
                            <div class="col-md-4 form-group">   
                              <label >Location   </label>
                                <input [attr.disabled]=true value={{this.company_location}} class="form-control" type="text"/>
                            </div>  
                           
                      
                            <div class="col-md-4 form-group">
                              <label >GST  </label>
                              
                                <input [attr.disabled]=true value={{this.company_gst}} class="form-control" type="text"/>
                            </div>
                            <div class="clearfix"></div>
                      
                            <div class="col-md-4 form-group">
                              <label >PAN  </label>
                              <input [attr.disabled]=true value={{this.company_pan}} class="form-control" type="text"/>
                            </div>
                           
                      
                            <div class="col-md-4 form-group">
                              <label >TAN  </label>
                              <input [attr.disabled]=true value={{this.company_tan}} class="form-control" type="text"/>
                            </div>
                           
                                       
                            <div class="col-md-4 form-group">
                              <label class="col-md-3 control-label">CIN  </label>
                              <input [attr.disabled]=true value={{this.company_cin}} class="form-control" type="text"/>
                            </div>
                            <div class="clearfix"></div>     
                              
                  </div>
                  </div>
                </div>
              </div>
                  <!-------end content2-->
      
                  <!-------start content3-->
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-heading font-bold">Contact Information</div> 
                        <div class="panel-body">
                       
                          <div class="col-md-4 form-group">
                            <label >Role  </label>
                            <input type="text" value={{this.contact_role}} [attr.disabled]=true class="form-control " placeholder="" formControlName=""/>
                          </div>
                    
                        
                        
                        <div class="col-md-4 form-group">
                          <label >Contact Name  </label>
                          
                              <input type="text" value={{this.contact_name}} [attr.disabled]=true class="form-control " placeholder="" formControlName=""/>
                            <!-- <select formControlName="" id="" class="form-control"  required>
                              <option  selected disabled>   </option>
                              <option value="">drs</option>
                              <option value="">vf</option>
                              <option value=""></option>
                              <option value=""></option>
                              <option value=""></option>
                            </select>  -->
                          </div>
                         
                    
                          
                          <div class="col-md-4 form-group">
                            <label >Phone  </label>
                              <input type="text" value={{this.contact_phone}} [attr.disabled]=true class="form-control " placeholder="" formControlName=""/>
                              <!-- <input type="text"  class="form-control " placeholder="" formControlName=""/> -->
                            </div>
                            <div class="clearfix"></div>
                          
                          <div class="col-md-4 form-group">
                            <label >Mobile </label>
                            <input type="text" value={{this.contact_mobile}} [attr.disabled]=true class="form-control " placeholder="" formControlName=""/>
                            <!-- <input type="text"  class="form-control " placeholder="" formControlName=""/> -->
                          </div>
                       
                        <div class="col-md-4 form-group">
                          <label >Email </label>
                            <input type="text" value={{this.contact_email}} [attr.disabled]=true class="form-control " placeholder="" formControlName=""/>
                            <!-- <input type="text"  class="form-control " placeholder="" formControlName=""/> -->
                          </div>
                         
                </div>
                </div>
              </div>
                  </div>
            <!-- End content3 -->
             <!------start content4-->
             <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">Remark :</div> 
                  <div class="panel-body">
                 
                    <div class="col-md-12 form-group">  
                      
                        <input type="text" class="form-control" placeholder="Remark" formControlName="remark">
                      </div>
                    </div>   
                      
          </div>
          </div>
             </div>
                <!-------end content4-->
                <!-------start content5-->
                <div class="row">
                  <div class="col-sm-12" >
                    <div class="panel panel-default">
                      <div class="panel-heading font-bold">Product/Service:</div>   
                    <div class="panel-body">
                      <div style="text-align: right;">
                        <button class="add-group"   data-toggle="modal" data-target="#exampleModalCenter1">ADD Product</button>
                        
                        </div>
                        <br>
                      <div class="example-wrapper">

                        <!-- <kendo-combobox [data]="data1" textField="productname" valueField="productname" [filterable]="true"
                           placeholder="Products" (filterChange)="handleFilter($event)" (selectionChange)="selectionChange($event)"  >
                        </kendo-combobox> -->

                      
                          <!-- <span class="input-group-addon  " style="color:gray;font-size:20px;background:white; border-right:0px;"><i class="fa fa-building"></i></span> -->
                          <angular2-multiselect
                          [(ngModel)]="selectedItemss"
                          [settings]="settings"
                          [data]="data1"
                          [loading] = "loading"
                          formControlName="selected_contact"
                          (onSelect)="selectionChange($event)"
                          (onScrollToEnd)="fetchMore($event)"
                          >


                          <c-search>
                            <ng-template>
                                <input type="text" (keyup)="onSearch($event)" placeholder="Search Product" style="border: none;width: 100%; height: 100%;outline: none;"/>
                            </ng-template>
                       </c-search>
                       <c-item>
                           <ng-template let-item="item">
                               <label style="color: #333;">{{item.productname}}({{item.PartNo}})</label>
                           </ng-template>
                       </c-item>
                          </angular2-multiselect>
                         
                        
                      <br/>
                      <br /><br />
                      <kendo-treelist kendoTreeListExpandable [data]="data"
                            [fetchChildren]="fetchChildren"
                            [hasChildren]="hasChildren"
                            [pageable]="true" [pageSize]="20" [sortable]="true" [sort]="sort" [navigable]="true" >
                      
                      
                        <kendo-treelist-column [width]="30">
                      
                          <ng-template kendoTreeListCellTemplate let-dataItem>
                            <input type="checkbox" *ngIf='dataItem?.type==="Group"' name="dataItem.id" class="k-checkbox" (change)="selectProducts(dataItem,$event)">
                          </ng-template>
                        </kendo-treelist-column>
                      
                        <kendo-treelist-column [expandable]="true" field="productname" title="Name" [width]="270">
                          <ng-template kendoTreeListCellTemplate let-dataItem>
                      
                            <span class="k-icon k-i-{{
                                    dataItem.type === 'Group' ? 'folder' : 'file'
                                  }}"></span>
                            {{ dataItem.productname }}
                          </ng-template>
                        </kendo-treelist-column>
                        <kendo-treelist-column field="type" title="Type" [width]="100">
                        </kendo-treelist-column>
                        <kendo-treelist-column  title="Unit Price" [width]="200">
                          <ng-template kendoTreeListCellTemplate let-product>
                            <input data-val-range-min="1" data-val-range="Length should be greater 1" [readonly]="product.type === 'Group' ? true : false" name="size" class="k-textbox" (keyup)="this.handleChangeUnitprice($event,product)" [value]= "product.UnitPrice" required />
                          </ng-template>
                        </kendo-treelist-column>
                      
                        <kendo-treelist-column field="quantity" [width]="180">
                          <ng-template kendoTreeListCellTemplate let-product>
                            <input data-val-range-min="1" data-val-range="Length should be greater 1" [readonly]="product.type === 'Group' ? true : false" name="size" class="k-textbox" (keyup)="this.onchange($event,product)" [value]= "product.quantity" required />
                          </ng-template>
                        </kendo-treelist-column>

                        <kendo-treelist-column field="discount" [width]="100">
                          <ng-template kendoTreeListCellTemplate let-product>
                            <input style="width: 62px" data-val-range-min="1" data-val-range="Length should be greater 1" [readonly]="product.type === 'Group' ? true : false" name="size" class="k-textbox" (keyup)="this.handleDiscount($event,product)" [attr.placeholder]="product.discount"  required /><i class="fa fa-percent fontweight-unset"></i>
                          </ng-template>
                        </kendo-treelist-column>

                        <kendo-treelist-column field="amount" title="Amount" [width]="120">
                        </kendo-treelist-column>
                        <kendo-treelist-column [width]="40">
                          <ng-template kendoTreeListCellTemplate let-product>
                            <i style="cursor: pointer;" class="fa fa-trash" (click)="handleDelete(product)"></i>
                          </ng-template>
                        </kendo-treelist-column>
                      
                      </kendo-treelist>
                      
                      
                      <!-- <button type="button" (click)="checkMergeSelection()" >Merge</button> -->
                      <div class="product_footer">

                      <button type="button" class="add-group" id="myModalgroupShow" data-toggle="modal" data-target="#myModalgroup2" >Add Group</button>
                      
                      <div style="display: inline !important;" class="example-wrapper" *ngIf="showDropdownBox">
                        <p style="display: inline !important;">Select an item:</p>
                        <kendo-multiselecttree
                          #multiselecttree
                          [checkAll]="true"
                          kendoMultiSelectTreeExpandable
                          [kendoMultiSelectTreeHierarchyBinding]="showDropdownData"
                          textField="productname"
                          (open)="handleBoxOpen()"
                          (valueChange)="handlechangeValue($event)"
                          valueField="id"
                          childrenField="products"
                        >
                        </kendo-multiselecttree>
                      </div>
                      <div class="show-total"><p>Total Amount:{{this.totalAmount}}</p><p>Total Quantity:{{this.totalQuantity}}</p></div>
                    </div>


                      <div id="myModalgroup2" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                      
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Add Group</h4>
                            </div>
                            <div class="modal-body">
                             <input class="form-control" type="text" value={{this.groupName}} (input)="inputName($event)">
                            </div>
                            <div class="modal-footer">
                              <button type="button"  class="btn btn-default" id="closenameinp" data-dismiss="modal">Close</button>
                              <button type="button"  class="btn btn-primary" (click)="checkAddGroup()" >Save</button>
                            </div>
                          </div>
                      
                        </div>
                      </div>


<!-- Add new product modal start here  -->

                      <div id="add-product" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                      
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Add Group</h4>
                            </div>
                            <div class="modal-body">
                              <form  [formGroup]="productForm">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="panel panel-default">
                                      <div class="panel-heading font-bold">Products Information</div> 
                                      
                                      <div class="panel-body">
                                     
                                          <div class="col-md-4 form-group">
                                              <label>Type <span class="text-danger">*</span></label>
                                                <!-- <input type="text" class="form-control" placeholder="" > -->
                                               <select formControlName="type" class="form-control">
                                                  <option disabled value="">Select Product Type</option>
                                                  <option value="Product">Product</option>
                                                  <option value="Service">Service</option>
                                               </select>
                                                <div *ngIf="p.type.errors && p.type.errors.required && isValidPrdFormSubmitted"
                                                  class="text-danger text-left mb-1 errorcontrols">
                                                  <div *ngIf="p.type.errors.required"><small>Lead Source is required.</small></div>
                                                </div>
                                            </div>   
                                            
                          
                          
                                        <div class="col-md-4 form-group">  
                                          <label >Product Name <span class="text-danger">*</span></label> 
                                            <input formControlName="productname" type="text" class="form-control" placeholder="" >
                                            <div *ngIf="p.productname.errors && p.productname.errors.required && isValidPrdFormSubmitted"
                                            class="text-danger text-left mb-1 errorcontrols">
                                            <div *ngIf="p.productname.errors.required"><small>Lead Source is required.</small></div>
                                          </div>
                                          </div>
                                      
                              
                                        <div class="col-md-4 form-group">
                                          <label>Part No <span class="text-danger">*</span></label>
                                            <input formControlName="PartNo" type="text" class="form-control" placeholder="" >
                                            <div *ngIf="p.PartNo.errors && p.PartNo.errors.required && isValidPrdFormSubmitted"
                                            class="text-danger text-left mb-1 errorcontrols">
                                            <div *ngIf="p.PartNo.errors.required"><small>Lead Source is required.</small></div>
                                          </div>
                                          </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-4 form-group">
                                          <label> CCN No <span class="text-danger">*</span></label>
                                            <input formControlName="CCNNo" type="text" class="form-control" placeholder="" >
                                            <div *ngIf="p.CCNNo.errors && p.CCNNo.errors.required && isValidPrdFormSubmitted"
                                            class="text-danger text-left mb-1 errorcontrols">
                                            <div *ngIf="p.CCNNo.errors.required"><small>Lead Source is required.</small></div>
                                          </div>
                                          </div>
                          
                          <!-- <div class="col-md-4 form-group">
                              <label> Product Name</label>
                                <input type="text" class="form-control" placeholder="" >
                            </div> -->
                          
                            <div class="col-md-4 form-group">
                              <label>Unit Price <span class="text-danger">*</span></label>
                                <input formControlName="UnitPrice" type="text" class="form-control" placeholder="" >
                                <div *ngIf="p.UnitPrice.errors && p.UnitPrice.errors.required && isValidPrdFormSubmitted"
                                class="text-danger text-left mb-1 errorcontrols">
                                <div *ngIf="p.UnitPrice.errors.required"><small>Lead Source is required.</small></div>
                              </div>
                              </div>
                            <div class="clearfix"></div>      
                            <div class="col-md-4 form-group">
                              <label> UOM <span class="text-danger">*</span></label>
                                <input formControlName="UOM" type="text" class="form-control" placeholder="" >
                                <div *ngIf="p.UOM.errors && p.UOM.errors.required && isValidPrdFormSubmitted"
                                class="text-danger text-left mb-1 errorcontrols">
                                <div *ngIf="p.UOM.errors.required"><small>Lead Source is required.</small></div>
                              </div>
                              </div>
                                         
                            <div class="col-md-4 form-group">
                              <label> Category <span class="text-danger">*</span></label>
                                <input formControlName="Category" type="text" class="form-control" placeholder="" >
                                <div *ngIf="p.Category.errors && p.Category.errors.required && isValidPrdFormSubmitted"
                                class="text-danger text-left mb-1 errorcontrols">
                                <div *ngIf="p.Category.errors.required"><small>Lead Source is required.</small></div>
                              </div>
                              </div>
                                  
                            <div class="col-md-4 form-group">
                              <label>OEM <span class="text-danger">*</span></label>
                                <input formControlName="OEM" type="text" class="form-control" placeholder="" >
                                <div *ngIf="p.OEM.errors && p.OEM.errors.required && isValidPrdFormSubmitted"
                                class="text-danger text-left mb-1 errorcontrols">
                                <div *ngIf="p.OEM.errors.required"><small>Lead Source is required.</small></div>
                              </div>
                              </div>
                            <div class="clearfix"></div>         
                            <div class="col-md-4 form-group">
                              <label> OEM Product Code <span class="text-danger">*</span></label>
                                <input formControlName="OEMProductCode" type="text" class="form-control" placeholder="" >
                                <div *ngIf="p.OEMProductCode.errors && p.OEMProductCode.errors.required && isValidPrdFormSubmitted"
                                class="text-danger text-left mb-1 errorcontrols">
                                <div *ngIf="p.OEMProductCode.errors.required"><small>Lead Source is required.</small></div>
                              </div>
                              </div>       
                           
                            <div class="col-md-4 form-group">
                              <label> HSN Code <span class="text-danger">*</span></label>
                                <input  formControlName="HSNCode" type="text" class="form-control" placeholder="" >
                                <div *ngIf="p.HSNCode.errors && p.HSNCode.errors.required && isValidPrdFormSubmitted"
                                class="text-danger text-left mb-1 errorcontrols">
                                <div *ngIf="p.HSNCode.errors.required"><small>Lead Source is required.</small></div>
                              </div>
                              </div>   
                                 
                            <div class="col-md-4 form-group">
                              <label> GST <span class="text-danger">*</span></label>
                                <input formControlName="GST" type="text" class="form-control" placeholder="" >
                                <div *ngIf="p.GST.errors && p.GST.errors.required && isValidPrdFormSubmitted"
                                class="text-danger text-left mb-1 errorcontrols">
                                <div *ngIf="p.GST.errors.required"><small>Lead Source is required.</small></div>
                              </div>
                              </div>   
                            <div class="clearfix"></div>         
                           
                          
                          
                                   
                                      
                              
                                    
                                     
                                    
                                    
                                  
                          
                          
                          
                          
                              </div>
                              </div>
                            </div>
                             
                            </div>
                          </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button"  class="btn btn-default" id="closenameinp" data-dismiss="modal">Close</button>
                              <button type="button"  class="btn btn-primary" (click)="handleSaveProduct()" >Save</button>
                            </div>
                          </div>
                      
                        </div>
                      </div>

<!-- Add new product modal end here  -->





                      </div>
               </div>           
              </div>
              </div>
                </div>
                <!-------end content5-->
                <!------end content6-->
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">Note</div> 
                    <div class="panel-body">
                  
      
                      <div class="col-md-12 form-group">  
                        
                          <input type="text" class="form-control" placeholder="Enter Note" formControlName="notes">
                        </div>
                      </div>   
                        
            </div>
            </div>
              </div>
            <!-- End content6 -->
             <!------end content7-->
             <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                
                  <div class="panel-body">
                    <div class="col-md-12">
                      <div class="col-md-10 ">
                     <b> Attachment</b>
                     </div>
                     <div  style="text-align: right;padding-right:18px;">
                      <!--  <input type="file" style="display: inline;">  -->
                      <b onclick="$('#file').click()" style="cursor: pointer;">Attach <i class="fa fa-paperclip " aria-hidden="true"></i></b>
                      <input accept="application/pdf,image/*" type="file" (change)="handleUpload($event)" multiple encType="multipart/form-data" class="form-control " placeholder="Uplode your Company Logo" id="file" formControlName="attach_file" style="font-size:12px; border-right:0px;display: none;" >
                      <!-- <span class="input-group-addon " style="border:0px;color: #58666e; font-size:15px;background:white;"><a onclick="$('#file').click()" style="color:blue;text-decoration: underline;">Attach <i class="fa fa-paperclip " aria-hidden="true"></i></a></span> -->
                    </div>
                     </div>
                    <br>
                    <br>
                    <div class="row">
                    <div class="col-md-12"  style="padding:0px;">   
                     <table class="table">
                     <thead>
                                      <tr style="background:#FFE5E5; ">
                                          <th>File Name</th>
                                          <th>Attached By </th>
                                          <th>Date added</th>
                                          <th>Size</th>
                                          <th>Action</th>
                                       
                                      </tr>
                                      <tr *ngFor=" let file of files_url,index as i"><th >
                                        <p  style="color:blue">{{file.name}}</p></th>
                                          <th>{{file.attached_by}}</th>
                                          <th>{{file.upload_date}}</th>
                                          <th>{{file.size}}</th>
                                          <th>
                                          <i (click)="removeAttachment(i)" style="cursor:pointer;" class="fa fa-trash"  aria-hidden="true"></i></th>
                                          </tr>
                                  </thead>
                     </table>
                    </div>
                    </div>
                    </div>
          </div>
          </div>
        </div>

       
        <!--end -->
        <!----content8----->
        <div class="row">
          <div class="col-sm-12">
          <!-- <div class="panel panel-default">
            
          <div class="panel-body">
          <div class="col-md-12">
          <div class="col-md-9 ">
         <b>Open activity</b>
         </div>
         <div  style="text-align: right;">
         <button style="border:1px solid red; width:50px; background:white; color:red;border-radius:5px;">+Task </button>
         <button style="border:1px solid red;background:white;width:70px; color:red;border-radius:5px;">+Metting </button>
         <button style="border:1px solid red; width:50px;  background:white;color:red;border-radius:5px;">+call</button>
          </div>
         </div>
        <br>
        <br>
        <div class="row " >
        <div class="col-md-12 "  style="padding:0px;">   
         <table class="table">
         <thead>
                          <tr style="background:#FFE5E5;">
                              <th>Subject</th>
                              <th>Activity Type </th>
                              <th>status</th>
                              <th>Due Date</th>
                              <th>Form</th>
                              <th>to</th>
                              <th>Call start Time</th>
                              <th>Activity Owner</th>
                              <th>Modified Time</th>
                           
                          </tr>
                          <tr><th>
                            <a href="" style="color:blue">task</a></th>
                              <th> </th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                             
                              </tr>
                      </thead>
         </table>
        </div>
       </div>
          </div>
         </div>   -->
         <!---- end content8----->
          <!----content9----->
          <!-- <div class="row">
            <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> <b>Close activity</b></div>
            <div class="panel-body">
      
            <p style="text-align: center;">No Choose activity</p>
         
            </div>
           </div> 
           </div>
           </div> -->
           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Select Quote From</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-md-12 form-group">
                    <label>Quote From -( DT Company Branch):<span class="text-danger">*</span>: </label>
                   
                    <select formControlName="quote_location" (change)="handleBranchAdd($event)" id="quote_location" class="form-control"  >
                      <option value="" selected disabled>Select From </option>
                      <option *ngFor="let data of branchData" value={{[data.branch_name,data._id]}}>{{data.branch_name}}</option>
                    </select> 
                    <div *ngIf="f.quote_location.errors && f.quote_location.errors.required && isValidFormSubmitted"
                    class="text-danger text-left mb-1 errorcontrols">
                    <div *ngIf="f.quote_location.errors.required"><small>Quote From is required.</small></div>
                    </div>
                  </div>
                
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                  <button type="button" (click)="convertToQuote()" class="btn btn-primary">Convert To Quote</button>
                </div>
              </div>
            </div>
          </div>

          <div  style="text-align: right; margin:10px 0px;" >
          <button   (click)="handleBack()" class="btn btn-dark" >Cancel</button>
          <button (click)="submitForm()" class="btn btn-danger">Save</button>
          <button  (click)="checkForm()" class="btn btn-primary">Convert To Quote</button>
          <input type="hidden" data-toggle="modal" data-target="#exampleModal" id="openmodal" class="btn btn-primary"/>
         
          </div> 
           <!---- end content9----->
           
         
      </div>
      </div>
      </div>
      </div>
      </form>
      </div>
      </div>
    </div>
<!-- model -->

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close  m-t-xs" data-dismiss="modal"><span>⤬</span></button>
              <span class="modal-title  font-weight-600 text-20">Add Product</span>
            </div>
            <div class="modal-body">
              <div class="details">
              <form  [formGroup]="productForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Type</label>
                        <select formControlName="type" class="form-control">
                          <option value="" disabled>Select Type</option>
                            <option value="Product">Product</option>
                            <option value="Service">Service</option>
                        </select>
                        <div *ngIf="fm.type.errors && fm.type.errors.required && isValidFormSubmitted"
                         class="text-danger text-left mb-1 errorcontrols">
                         <div *ngIf="fm.type.errors.required"><small>Type  is
                             required.</small></div>
                       </div>
                      </div>
                    </div>
                   
                  <div class="col-md-6">
                      <div class="form-group">
                        <label >Product Name</label> 
                        <input formControlName="productname" type="text" class="form-control" placeholder="" >
                        <div *ngIf="fm.productname.errors && fm.productname.errors.required && isValidFormSubmitted"
                        class="text-danger text-left mb-1 errorcontrols">
                        <div *ngIf="fm.productname.errors.required"><small>Product Name  is
                            required.</small></div>
                      </div>
                      </div>
                    </div>
                </div>
                 
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Part No</label>
                      <input formControlName="PartNo" type="text" class="form-control" placeholder="" >
                      <div *ngIf="fm.PartNo.errors && fm.PartNo.errors.required && isValidFormSubmitted"
                      class="text-danger text-left mb-1 errorcontrols">
                      <div *ngIf="fm.PartNo.errors.required"><small>Part No  is
                          required.</small></div>
                    </div>
                    </div>
                    </div>
                   
                  <div class="col-md-6">
                      <div class="form-group">
                        <label> CCN No</label>
                        <input formControlName="CCNNo" type="text" class="form-control" placeholder="" >
                        </div>
                    </div>
                </div>
                 
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Unit Price</label>
                      <input formControlName="UnitPrice" type="text" class="form-control" placeholder="" >
                      <div *ngIf="fm.UnitPrice.errors && fm.UnitPrice.errors.required && isValidFormSubmitted"
      class="text-danger text-left mb-1 errorcontrols">
      <div *ngIf="fm.UnitPrice.errors.required"><small>Unit Price is
          required.</small></div>
    </div>
                    </div>
                    </div>
                   
                  <div class="col-md-6">
                      <div class="form-group">
                        <label> UOM</label>
                        <input formControlName="UOM" type="text" class="form-control" placeholder="" >
                        <div *ngIf="fm.UOM.errors && fm.UOM.errors.required && isValidFormSubmitted"
                        class="text-danger text-left mb-1 errorcontrols">
                        <div *ngIf="fm.UOM.errors.required"><small>UOM Price is
                            required.</small></div>
                      </div>
                      </div>
                    </div>
                </div>
                 
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Category</label>
                       <input formControlName="Category" type="text" class="form-control" placeholder="" >
                      </div>
                    </div>
                   
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>OEM</label>
                        <input formControlName="OEM" type="text" class="form-control" placeholder="" >
                        </div>
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> OEM Product Code</label>
                      <input formControlName="OEMProductCode" type="text" class="form-control" >
                      </div>
                    </div>
                   
                  <div class="col-md-6">
                      <div class="form-group">
                        <label> HSN Code</label>
                        <input  formControlName="HSNCode" type="text" class="form-control" placeholder="" >
                        </div>
                    </div>
                </div>


                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> GST</label>
                      <input formControlName="GST" type="text" class="form-control" placeholder="" >
                      </div>
                    </div>
                   
                  
                </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label font-weight-600">&nbsp;</label>
                      <div class="form-group">
                          <button type="button"  class="btn btn-dark"  id="closemodal" data-dismiss="modal">Cancel</button>
                          <button class="btn btn-danger" (click)="handleSubmit()">Save</button>
                      </div>
                    </div>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>