.validate.ng-pristine{
    border: 1px solid #ccc !important
 }
 .validate.ng-valid{
 border: 1px solid green;
 }
 .validate.ng-invalid{
 border: 1px solid red;
 }
 .input-group-addon>.validate.ng-touched.ng-valid{
     border: 1px solid green;
 }
 