<app-header></app-header>
 <app-sidenav></app-sidenav>
 <div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="top"> <div class="row t-main">
      <div class="col-sm-6 col-xs-12 t-main-1">
        <h4 class="m-n  t-main1">Service List</h4>
      </div>
      <div class="col-sm-6 text-right poppins">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb t-main">
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Service</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color: red;">Service View List</li>
            
          </ol>
        </nav>
      </div>
    </div></div>
    <kendo-grid
    [kendoGridBinding]="gridView"
    kendoGridSelectBy="id"
    [selectedKeys]="mySelection"
    [pageSize]="20"
    [pageable]="true"
    [sortable]="true"
    [reorderable]="true"
    [resizable]="true"
    [height]="500"
    [columnMenu]="{ filter: true }">
    
    <ng-template kendoGridToolbarTemplate>
      <input
        placeholder="Search in all columns..."
        kendoTextBox
        (input)="onFilter($event)"
        />
      <kendo-grid-spacer></kendo-grid-spacer>
      <button class="button" > <a routerLink="/service-request">Create New Service</a></button>
    </ng-template>
    
    
    <kendo-grid-column  title="ID" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="service" style="color: red;">{{ dataItem.service_id }}</div>
        <div class="service" ><i class="fa fa-calendar-check-o" style="color:green;" aria-hidden="true"></i> : {{ dataItem.created_at|date:'dd-MM-yyyy' }}</div>
        <!-- <div class="service" ><i class="fa fa-calendar-plus-o" style="color:red;" aria-hidden="true"></i> : {{ dataItem.updated_at |date:'dd-MM-yyyy' }}</div> -->
        
      </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column  title="Service Details" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="service" >Type :  {{ dataItem.service_type}}</div>
        <div class="service" >Location : {{dataItem.service_location }}</div>
        <div class="service" >Priority : {{dataItem.priority }}</div>
        <!-- <div class="service" >Source : {{dataItem.source_type }}</div> -->
        
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column  title="Source Type" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="service" >   {{ dataItem.source_type}}</div>
     
        <!-- <div class="service" >Name : {{dataItem.person_name }}</div> -->
        <!-- <div class="service" >Source : {{dataItem.source_type }}</div> -->
        
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column  title="Details" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
       
        <div class="service" >Account : {{dataItem.contactData[0].company_name }}</div>
        <div class="service" >Contact : {{dataItem.contactData[0].first_name }}</div>
        <!-- <div class="service" >Name : {{dataItem.account }}</div>
        <div class="service" >Source : {{dataItem.source_type }}</div> -->
        
      </ng-template>
    </kendo-grid-column>

    <!-- <kendo-grid-column  title="Person Name" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
      
        <div class="service" > {{dataItem.person_name }}</div>
        
        
      </ng-template>
    </kendo-grid-column> -->
     
     
    <kendo-grid-column  title="" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="service" >Assign  :  {{ dataItem.assign_to}}</div>
        <!-- <div class="service" >Visit Schedule : {{dataItem.visit_schedule  }}</div> -->
        <div class="service" ><i class="fa fa-calendar-plus-o" style="color:green;" aria-hidden="true"></i> Schedule  : {{ dataItem.visit_schedule |date:'dd-MM-yyyy' }}</div>
        <div class="service" >Status  :  {{ dataItem.stages}}</div>
        
      </ng-template>
    </kendo-grid-column>
    
 
    <kendo-grid-column
    title="Action"
    [width]="100"
    [class]="{ 'text-center': true }"
    [resizable]="false"
    [filterable]="false"
    
  >
    <ng-template kendoGridCellTemplate let-service>
      <kendo-menu >
        <kendo-menu-item  icon="gear">
          <kendo-menu-item icon="edit"  url="/service-request-edit/{{service._id}}"  text="Edit" > </kendo-menu-item>
        </kendo-menu-item>
      </kendo-menu>
    </ng-template>

  </kendo-grid-column>

  </kendo-grid>
  </div>
  </div>