<app-header></app-header>
 <app-sidenav></app-sidenav>
 <div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="top"> <div class="row t-main">
      <div class="col-sm-6 col-xs-12 t-main-1">
        <h4 class="m-n  t-main1">Service List</h4>
      </div>
      <div class="col-sm-6 text-right poppins">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb t-main">
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Service</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color: red;">Service View List</li>
            
          </ol>
        </nav>
      </div>
    </div></div>
    <kendo-grid
    [kendoGridBinding]="gridView"
    kendoGridSelectBy="id"
    [selectedKeys]="mySelection"
    [pageSize]="20"
    [pageable]="true"
    [sortable]="true"
    [reorderable]="true"
    [resizable]="true"
    [height]="500"
    [columnMenu]="{ filter: true }">
    
    <ng-template kendoGridToolbarTemplate>
      <input
        placeholder="Search in all columns..."
        kendoTextBox
        (input)="onFilter($event)"
        />
      <kendo-grid-spacer></kendo-grid-spacer>
      <button class="button" > <a routerLink="/service-request">Create New Service</a></button>
    </ng-template>
    
    
      <kendo-grid-column field="service_type" title="Service Type" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
         
          <div class="customer-name"># {{dataItem.disposal_id}}</div>
         
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="
      service_location" title=" 
      Service Location" [width]="100">
      </kendo-grid-column>
 
      <kendo-grid-column field="priority" title="Priority " [width]="100">
     </kendo-grid-column>
 
     <kendo-grid-column field="source_type" title="Source Type" [width]="100">
    </kendo-grid-column>
 
     <kendo-grid-column
     title="Controls"
     [width]="100"
     [class]="{ 'text-center': true }"
     [resizable]="false"
     [filterable]="false"
    >
     <ng-template kendoGridCellTemplate let-account>
      <kendo-menu>
        <kendo-menu-item text="Action">
          <kendo-menu-item text="Edit" icon="edit"> </kendo-menu-item>
          <kendo-menu-item text="Delete" icon="delete"></kendo-menu-item>
        </kendo-menu-item>
       
      </kendo-menu>
     </ng-template>
   </kendo-grid-column>
  </kendo-grid>
  </div>
  </div>