<app-header ></app-header>
<app-sidenav ></app-sidenav>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="top">
      
        <div class="row t-main">
    <div class="col-sm-6 col-xs-12 t-main-1">
      <h4 class="m-n  t-main1">Edit Service</h4>
    </div>
    <div class="col-sm-6 text-right poppins">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb t-main">
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Service </li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Service View List</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color:red;">Create New Service </li>
          </ol>
        </nav>
      </div>
  </div>
  </div>
     



    <div class="wrapper-md" ng-controller="FormDemoCtr5">
        <form  [formGroup]="ServiceForm" (ngSubmit)="onFormSubmit()">
     
    
            <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">Service Information</div> 
                    <div class="panel-body">
                   
                        <div class="col-md-4 form-group">  
                        <label >Service ID  </label> 
                        <input type="text" class="form-control" formControlName="service_id"  value={{s_id}} [attr.disabled]=true>
                        </div>

                        <div class="col-md-4 form-group">  
                        <label >Service Type</label> 
                        <select class="form-control" formControlName="service_type" value="{{s_type}}" >
                          <option value="" disabled> Service Type</option>
                            <option value="AMC">AMC</option>
                            <option value="FOC">FOC</option>
                            <option value="Paid">Paid</option>
                            <option value="Other">Other</option>
                        </select>
                        </div>
        
                        <div class="col-md-4 form-group">  
                        <label >Service Location</label> 
                        <select class="form-control" formControlName="service_location" value="{{s_location}}">
                          <option value="" disabled>Select Service Location</option>
                                <option value="On site">On site</option>
                                <option value="Off site">Off site</option>
                        </select>
                        </div>
                     <div class="clearfix"></div> 
                     
                     <div class="col-md-4 form-group">  
                        <label >Priority</label> 
                        <select class="form-control" formControlName="priority" value="{{priority}}">
                          <option value="Low"> Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                                <option value="Urgent">Urgent</option>
                        </select>
                        </div>
        
                        <div class="col-md-4 form-group">  
                            <label >Source Type</label> 
                            <select class="form-control" formControlName="source_type">
                              <option value="" disabled>Select Source Type</option>
                                    <option >Call</option>
                                    <option>E Mail</option>
                                    <option >Message</option>
                                    
                            </select>
                            </div>
                     
         <div class="form-group  col-md-4 ">
          <label >Account </label>
            <div class="input-group">
              <span class="input-group-addon  " style="color:gray;font-size:20px;background:white; border-right:0px;"><i class="fa fa-building"></i></span>
              <ng-multiselect-dropdown
              [placeholder]="''"
              [settings]="dropdownSettings"
              [data]="accountData"
              
              (onSelect)="onItemSelect($event)"
              >
              </ng-multiselect-dropdown>
          </div>
          </div>

          <div class="clearfix"></div>
      
        <div class="form-group  col-md-4 ">
          <label>Contact  </label>
        
            <div class="input-group">
              <span class="input-group-addon  " style="color:gray;font-size:20px;background:white;border-radius: 0px; border-right:0px;"><i class="fa fa-user"></i></span>
              <ng-multiselect-dropdown
              [placeholder]="''"
              [settings]="contactDropdownSettings"
              [data]="contactTempData"
              formControlName="account_info"
              (onSelect)="onContactSelect($event)"
              [(ngModel)]="selectedCompany"
              >
              </ng-multiselect-dropdown>
             
          </div>
          </div>
           
         <div class="col-md-4 form-group">  
                                            <label >Contact Person Name </label> 
                                            <input type="text" class="form-control" formControlName="person_name" value="{{p_name}}"> 
      </div>
        
                                             
        

                                            




                                              <div class="col-md-4 form-group">  
                                                <label >Assign To</label> 
                                                <input type="text" class="form-control" formControlName="assign_to" value="{{assign_to}}">
                                                </div>     
                                                  <div class="clearfix"> </div>
                                                <div class="col-md-4 form-group">  
                                                    <label >Visit Schedule</label> 
                                                    <input type="datetime-local" class="form-control" formControlName="visit_schedule" value="{{v_schedule}}">
                                                    </div> 
        
                                                    <div class="col-md-4 form-group">  
                                                        <label >Stages /
                                                            Service Status</label> 
                                                        <!-- <input type="text" class="form-control" formControlName="Name"> -->
                                                        <select class="form-control" formControlName="stages" value="{{stages}}">
                                                            <option value="Completed">Completed</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Open">Open</option>
                                                           
                                                            <option value="Repair Estimate Prepare">Repair Estimate Prepare</option>
                                                        </select>
                                                        </div>
            </div>
            </div>
            </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">Add Service </div> 
                  <div class="panel-body">
                 
                    <div  class="form-group  col-md-12 " style="display: flex;align-items: flex-end;">
                      <div class="col-md-12" style="padding: 0px;"  >
                          
                        <div *ngFor="let service of addservice; index as i;" style="margin: 5px 0" class="col-md-12 input-group"  >
          
                          <input  (blur)="handleBlurservice($event,i)"  value="{{adds}}" type="text" class="form-control" formControlName="add_service"  >
                          <span (click)="handleDeleteservice(i)" style="cursor: pointer;" class="input-group-addon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </div>
                      </div>
                      <div class="input-group-addon "  (click)="handleAddservice()"   style="margin: 5px 0; color:red;font-size:20px;background:white;border-left: 1px solid #cfdadd; width: 35px;cursor: pointer; margin-left: 12px;
                  ">+</div>
                    </div>
                    </div>   
                      
            </div>
            </div>
            </div>
  



            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                
                  <div class="panel-body">
                    <div class="col-md-12">
                      <div class="col-md-10 ">
                     <b> Attachment</b>
                     </div>
                     <div  style="text-align: right;padding-right:18px;">
                      <!--  <input type="file" style="display: inline;">  -->
                      <b onclick="$('#file').click()" style="cursor: pointer;">Attach <i class="fa fa-paperclip " aria-hidden="true"></i></b>
                      <input accept="application/pdf,image/*" type="file" (change)="handleUpload($event)" multiple encType="multipart/form-data" class="form-control " placeholder="Uplode your Company Logo" id="file" formControlName="attach_file" style="font-size:12px; border-right:0px;display: none;" >
                      <!-- <span class="input-group-addon " style="border:0px;color: #58666e; font-size:15px;background:white;"><a onclick="$('#file').click()" style="color:blue;text-decoration: underline;">Attach <i class="fa fa-paperclip " aria-hidden="true"></i></a></span> -->
                    </div>
                     </div>
                    <br>
                    <br>
                    <div class="row">
                    <div class="col-md-12"  style="padding:0px;">   
                     <table class="table">
                     <thead>
                                      <tr style="background:#FFE5E5; ">
                                          <th>File Name</th>
                                          <th>Attached By </th>
                                          <th>Date added</th>
                                          <th>Size</th>
                                          <th>Action</th>
                                       
                                      </tr>
                                      <tr *ngFor=" let file of files_url,index as i"><th >
                                        <p  style="color:blue">{{file.name}}</p></th>
                                          <th>{{file.attached_by}}</th>
                                          <th>{{file.upload_date}}</th>
                                          <th>{{file.size}}</th>
                                          <th>
                                          <i (click)="removeAttachment(i)" style="cursor:pointer;" class="fa fa-trash"  aria-hidden="true"></i></th>
                                          </tr>
                                  </thead>
                     </table>
                    </div>
                    </div>
                    </div>
          </div>
          </div>
        </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Remark </div> 
                <div class="panel-body">
               
                  <div class="col-md-12 form-group">  
                    
                      <input type="text" class="form-control" placeholder="Remark" formControlName="remark">
                    </div>
                  </div>   
                    
          </div>
          </div>
          </div>

          <div  style="text-align: right; margin:10px 0px;margin-right:16px;" >
            <button class="btn btn-dark" ><a routerLink="/contact">Cancel</a></button>
            <button type="submit"  class="btn btn-danger" [disabled]="isValidbutton" (click)="saveform('save')" >Save</button>
           
            </div>
        </form>
        
          <!-- End content3 -->
    </div>
    </div>