<app-header ></app-header>
<app-sidenav ></app-sidenav>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="top">
        <div class="row t-main">
          <div class="col-sm-6 col-xs-12 t-main-1">
            <h4 class="m-n  t-main1">Create Products</h4>
          </div>
          <div class="col-sm-6 text-right poppins">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb t-main">
                <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Products</li>
                <!-- <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;"> Account View List</li> -->
                <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color:red;">Create Products</li>
              </ol>
            </nav>
          </div>
        </div>
           
      </div>
    <div class="wrapper-md" ng-controller="FormDemoCtr5">
      <form  [formGroup]="productForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">Products Information</div> 
            
            <div class="panel-body">
           
                <div class="col-md-4 form-group">
                    <label>Type</label>
                      <!-- <input type="text" class="form-control" placeholder="" > -->
                     <select formControlName="type" class="form-control">
                         <option>Product</option>
                         <option>Service</option>
                      
                     </select>
                  </div>   


              <div class="col-md-4 form-group">  
                <label >Product Name</label> 
                  <input formControlName="productname" type="text" class="form-control" placeholder="" >
                </div>
            
    
              <div class="col-md-4 form-group">
                <label>Part No</label>
                  <input formControlName="PartNo" type="text" class="form-control" placeholder="" >
              </div>
              <div class="clearfix"></div>
              <div class="col-md-4 form-group">
                <label> CCN No</label>
                  <input formControlName="CCNNo" type="text" class="form-control" placeholder="" >
              </div>

<!-- <div class="col-md-4 form-group">
    <label> Product Name</label>
      <input type="text" class="form-control" placeholder="" >
  </div> -->

  <div class="col-md-4 form-group">
    <label>Unit Price</label>
      <input formControlName="UnitPrice" type="text" class="form-control" placeholder="" >
  </div>
  <div class="clearfix"></div>      
  <div class="col-md-4 form-group">
    <label> UOM</label>
      <input formControlName="UOM" type="text" class="form-control" placeholder="" >
  </div>
               
  <div class="col-md-4 form-group">
    <label> Category</label>
      <input formControlName="Category" type="text" class="form-control" placeholder="" >
  </div>
        
  <div class="col-md-4 form-group">
    <label>OEM</label>
      <input formControlName="OEM" type="text" class="form-control" placeholder="" >
  </div>
  <div class="clearfix"></div>         
  <div class="col-md-4 form-group">
    <label> OEM Product Code</label>
      <input formControlName="OEMProductCode" type="text" class="form-control" placeholder="" >
  </div>       
 
  <div class="col-md-4 form-group">
    <label> HSN Code</label>
      <input  formControlName="HSNCode" type="text" class="form-control" placeholder="" >
  </div>   
       
  <div class="col-md-4 form-group">
    <label> GST</label>
      <input formControlName="GST" type="text" class="form-control" placeholder="" >
  </div>   
  <div class="clearfix"></div>         
 


         
            
    
          
           
          
          
        




    </div>
    </div>
  </div>
    <div  style="text-align: right; margin:10px 0px;margin-right:16px;" >
      <button type="cancel" [routerLink]="['/new-products']" class="btn btn-dark" >Cancel</button>
      <button class="btn btn-danger" (click)="handleSubmit()">Save</button>
     
      </div>
  </div>
</form>
    <!-- End content1 -->
   

    