<app-header ></app-header>
<app-sidenav ></app-sidenav>

<div id="content" class="app-content" role="main">
 
  <div class="app-content-body ">
    <div class="top">
      <div class="row t-main">
        <div class="col-sm-6 col-xs-12 t-main-1">
          <h4 class="m-n  t-main1">User View List</h4>
        </div>
        <div class="col-sm-6 text-right poppins">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb t-main">
              <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Dashboard</li>
              <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">User</li>
              
              <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color:red;">User View List</li>
            </ol>
          </nav>
        </div>
      </div>
         
    </div>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close  m-t-xs" data-dismiss="modal"><span>⤬</span></button>
              <span class="modal-title  font-weight-600 text-20">Add User</span>
            </div>
            <div class="modal-body">
              <div class="details">
                <form [formGroup]="userform" (ngSubmit)="onsubmit()">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label font-weight-600">Name</label>
                        <input type="text" class="form-control  input-sm" placeholder="Name" formControlName="username">
                        <div *ngIf="f.username.errors && f.username.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.username.errors.required"><small>Name is
                              required.</small></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label font-weight-600">Email</label>
                        <input type="email" class="form-control  input-sm" name="email" placeholder="Email" formControlName="email">
                        <div *ngIf="f.email.errors && f.email.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.email.errors.required"><small>Email is
                              required.</small></div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label font-weight-600">Phone</label>
                        <input type="text" class="form-control  input-sm" placeholder="Phone" formControlName="phone">
                        <div *ngIf="f.phone.errors && f.phone.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.phone.errors.required"><small>Phone is
                              required.</small></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label font-weight-600">Designation</label>
                        <!-- <input type="text" class="form-control  input-sm" placeholder="Designation" formControlName="designation"> -->
                        <select  class="form-control" formControlName="designation">
                          <option value="" disabled> Select Designation</option>
                          <option value="Staff" selected>Staff</option>
                          <option value="Sales Person"> Sales Person</option>
                        </select>
                        <div *ngIf="f.designation.errors && f.designation.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.designation.errors.required"><small>Designation is
                              required.</small></div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label font-weight-600">Password</label>
                        <input type="text" class="form-control  input-sm" placeholder="Password" formControlName="password">
                        <!-- <div *ngIf="f.password.errors && f.password.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.password.errors.required"><small>Password is
                              required.</small></div>
                              <div *ngIf="f.password.errors.pattern">Invalid Mobile.</div>
                        </div> -->

                        <div *ngIf="f.password.errors  && isValidFormSubmitted" class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.password.errors.required"><small>Password is
                            required.</small></div>
                          <div *ngIf="f.password.errors.pattern">Minimum 8 character password.</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label font-weight-600">Confirm
                         Password</label>
                        <input type="text" class="form-control  input-sm" placeholder="Confirm Password" formControlName="cpassword">
                        <div *ngIf="f.cpassword.errors && f.cpassword.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.cpassword.errors.required"><small>Confirm Password is
                              required.</small></div>
                        </div>
                        <div *ngIf="f.cpassword.errors && f.cpassword.errors.mustMatch"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.cpassword.errors.mustMatch"><small>Password and Confirm Password is not match.</small></div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label font-weight-600">Role</label>
                        <select class="form-control validation user_role input-sm" name="role" formControlName="role">
                          <option value="" disabled>Choose Role</option>
                          <option *ngFor="let role of roledata" value="{{role._id}}">{{role.role_name}}</option>
                        </select>
                        <div *ngIf="f.role.errors && f.role.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.role.errors.required"><small>Role Name is
                              required.</small></div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label font-weight-600">DT Users</label>
                        <select class="form-control validation dt_users input-sm"  formControlName="dt_users">
                          <option value="" disabled>Choose Users</option>
                          <option value="User">User</option>
                          <option value="Salesperson">Salesperson</option>
                          
                        </select>
                        <div *ngIf="f.dt_users.errors && f.dt_users.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.dt_users.errors.required"><small>DT Users is
                              required.</small></div>
                        </div>
                      </div>
                    </div>



                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label font-weight-600">&nbsp;</label>
                      <div class="form-group">
                          <button type="button"  class="btn btn-dark"  id="closemodal" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-danger"  style="margin-left:1.5%"  *ngIf="buttondisabled">Save</button>
                       
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>



 <kendo-grid
    [kendoGridBinding]="gridView"
    kendoGridSelectBy="_id"
    [selectedKeys]="mySelection"
    [pageSize]="20"
    [pageable]="true"
    [sortable]="true"
    [reorderable]="true"
    [resizable]="true"
    [height]="500"
    [columnMenu]="{ filter: false }"
  >


    <ng-template kendoGridToolbarTemplate>
      <input
        placeholder="Search in all columns..."
        kendoTextBox
        (input)="onFilter($event)"
        />
      <kendo-grid-spacer></kendo-grid-spacer>
      <button *ngIf="this.userPermission.usercreate" class="button" data-toggle="modal"
          data-target="#exampleModalCenter" style="cursor: pointer;"> Add User</button>
      <!-- <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button> -->
      <!-- <button kendoGridExcelCommand type="button" icon="file-excel">
        Export to Excel
      </button> -->
    </ng-template>

      <kendo-grid-column field="username" title="Name" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="customer-name" style="color: red;">{{ dataItem.username.toUpperCase() }}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="email" title="Email" [width]="100">
      </kendo-grid-column>

      <kendo-grid-column
        field="phone"
        title="Mobile"
        [width]="100"
        [class]="{ 'text-center': true }"
        [resizable]="false"
      >
        <!-- <ng-template kendoGridCellTemplate let-dataItem>
          <img class="flag" [src]="flagURL(dataItem)" width="30" />
        </ng-template> -->
      </kendo-grid-column>

      

      

      <kendo-grid-column  title="Role" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="service" > {{ dataItem.roledata[0].role_name}}</div>
          
          
        </ng-template>
      </kendo-grid-column>



      <kendo-grid-column
      field="designation"
      title="Designation"
      [width]="100"
      [class]="{ 'text-center': true }"
      [resizable]="false"
    >
    </kendo-grid-column>
      designation
      <!-- <kendo-grid-column
        title="Controls"
        [width]="100"
        [class]="{ 'text-center': true }"
        [resizable]="false"
        [filterable]="false"

      >
        <ng-template kendoGridCellTemplate let-quote>
          
          <kendo-menu>
            <kendo-menu-item icon="gear">
              <kendo-menu-item   url="" text="Edit" > </kendo-menu-item>
              <kendo-menu-item   url="" text="Clone"> </kendo-menu-item>
              <kendo-menu-item   url="" text="Status" > </kendo-menu-item>
              <kendo-menu-item   url="" text="Convert to Quote" > </kendo-menu-item>
              <kendo-menu-item   url="" text="Delete" > </kendo-menu-item>
              <kendo-menu-item   url="" text="Download Excel" > </kendo-menu-item>
              <kendo-menu-item   url="" text="Print" > </kendo-menu-item>
              
            </kendo-menu-item>
          </kendo-menu>

        </ng-template>
      </kendo-grid-column> -->


  </kendo-grid>
</div>