<app-header ></app-header>
<app-sidenav ></app-sidenav>
<div id="content" class="app-content"  role="main">
    <div class="app-content-body ">
          
      <div class="top">
        <div class="row t-main">
          <div class="col-sm-6 col-xs-12 t-main-1">
            <h4 class="m-n  t-main1">Edit Quote </h4>
          </div>
          <div class="col-sm-6 text-right poppins">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb t-main" style="cursor: pointer;">
                <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;" routerLink="/">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Quote</li>
                <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;" routerLink="/quote">Quote View List</li> 
                <!-- <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;"> Account View List</li> -->
                <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color:red;" >Edit Quote</li>
              </ol>
            </nav>
          </div>
        </div>
           
      </div>
  <form [formGroup]="quoteForm">
  <div class="wrapper-md" ng-controller="FormDemoCtrl">
    <!-- <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post" action='/deals/createdeal' > -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
        <div class="panel-heading"><b>Quote Information</b>  </div>
          <!-- <div class="panel-heading font-bold">Add Slider</div> -->
          <div class="panel-body">
                    <div class="col-md-4 form-group">  
                      <label>Quote ID <span class="text-danger">*</span> </label> 
                   
                        <input type="text" value={{this.quoteId}} [attr.disabled]=true class="form-control" placeholder="Enter Your deal ID" formControlName="quote_id">
                      </div>
                   
  
                      <div class="col-md-4 form-group">
                        <label >Quote Owner <span class="text-danger">*</span>  </label>
                        <ng-multiselect-dropdown
                        [placeholder]="'Select a User'"
                        [settings]="ownerDropdownSettings"
                        [(ngModel)]="selectedUser"
                        [data]="users"
                        formControlName="quote_owner"
                        (onSelect)="handleOwnerChange($event)"
                        >
                      </ng-multiselect-dropdown>
                        <!-- <input type="text" value={{this.quoteData?.quote_owner}} [attr.disabled]=true class="form-control" placeholder="Quote Owner" formControlName="quote_owner"> -->
                      </div>
                    
                   
                      
                      <div class="form-group  col-md-4 ">
                        <label>Comapny Name<span class="text-danger">*</span></label>
                   
                          <div class="input-group">
                            <span class="input-group-addon  " style="color:gray;font-size:20px;background:white; border-right:0px;"><i class="fa fa-building"></i></span>
                            <ng-multiselect-dropdown
                                [placeholder]="'Select a Company'"
                                [settings]="dropdownSettings"
                                [data]="accountData"
                                [(ngModel)]="selectedCompany"
                                formControlName="selected_company"
                                (onSelect)="onItemSelect($event)"
                                >
                                </ng-multiselect-dropdown>
                            <span class="input-group-addon " style="color:red;font-size:20px;background:white;border-radius: 0px;"><a routerLink="/create-account">+</a></span>
                        </div>
                        <div *ngIf="f.selected_company.errors && f.selected_company.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.selected_company.errors.required"><small>Company Name is required.</small></div>
                          </div>
                        </div>
                        <div class="clearfix"></div>   
                    
                      <div class="form-group  col-md-4 ">
                        <label >Contact<span class="text-danger">*</span></label>
                        
                          <div class="input-group">
                            <span class="input-group-addon  " style="color:gray;font-size:20px;background:white;border-radius: 0px; border-right:0px;"><i class="fa fa-user"></i></span>
                            <ng-multiselect-dropdown
                            [placeholder]="'Select a Contact'"
                            [settings]="contactDropdownSettings"
                            [data]="contactTempData"
                            [(ngModel)]="selectedContact"
                            formControlName="selected_contact"
                            (onSelect)="onContactSelect($event)"
                            >
                            </ng-multiselect-dropdown>
                            <span class="input-group-addon " style="color:red;font-size:20px;background:white;border-radius: 0px;"><a routerLink="/create-contact">+</a></span>
                        </div>
                        <div *ngIf="f.selected_contact.errors && f.selected_contact.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.selected_contact.errors.required"><small>Contact Name is required.</small></div>
                          </div>
                        </div>
                      
                     
  
                      <div class="col-md-4 form-group">
                        <label >Quote Source <span class="text-danger">*</span>  </label>
                        
                        <select (change)="handleChange($event,'quote_source')" value={{this.quoteData?.quote_source}} formControlName="quote_source"  class="form-control" >
                          <option value="" disabled> Quote Source </option>
                          <option value="Inbound OEM">Inbound OEM</option>
                          <option value="Inbound Direct Customer">Inbound Direct Customer</option>
                          <option value="Inbound Advertisement">Inbound Advertisement</option>
                          <option value="Outbound Cold Call">Outbound Cold Call</option>
                          <option value="Outbound Routine">Outbound Routine</option>
                          <option value="Website">Website</option>
                          <option value="Others">Others</option>
                        </select> 
                        <div *ngIf="f.quote_source.errors && f.quote_source.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.quote_source.errors.required"><small>Quote Source is required.</small></div>
                          </div>
                        </div>
                    
                      <div class="col-md-4 form-group">
                        <label >Quote Title <span class="text-danger">*</span> </label>
                       
                          <input type="text" class="form-control" placeholder="Enter Your DealTitle" (change)="handleChange($event,'quote_title')" value={{this.quoteData?.quote_title}} formControlName="quote_title">
                          <div *ngIf="f.quote_title.errors && f.quote_title.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.quote_title.errors.required"><small>Quote Title is required.</small></div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                   
                      <div class="col-md-4 form-group">
                        <label>Quote Type  </label>
                     
                          <select (change)="handleChange($event,'quote_type')" value={{this.quoteData?.quote_type}} formControlName="quote_type" id="quote_type" class="form-control"  >
                            <option value="" disabled> Quote Type </option>
                            <option value="Project">Project</option>               
                            <option value="Solution">Solution</option>               
                            <option value="Standard">Standard</option>               
                          </select>
                          <div *ngIf="f.quote_type.errors && f.quote_type.errors.required && isValidFormSubmitted"
                          class="text-danger text-left mb-1 errorcontrols">
                          <div *ngIf="f.quote_type.errors.required"><small>Quote Source is required.</small></div>
                        </div>
                        </div>
                      
  
                    <div class="col-md-4 form-group">
                      <label>Referral  </label>
                     
                        <input type="text" class="form-control" placeholder="Enter Your Referral" (change)="handleChange($event,'referral')" value={{this.quoteData?.referral}} formControlName="referral">
                      </div>
                  
                 
                    <!-- <div class="col-md-4 form-group">
                        <label>Industry  <span class="text-danger">*</span>  </label>
                       
                          <select (change)="handleChange($event,'industry')"  value={{this.quoteData?.industry}} formControlName="industry" id="industry" class="form-control"  >
                            <option value=""  selected disabled> Industry </option>
                            <option value="Casting & Forging">Casting & Forging</option>
                            <option value="Defence">Defence</option>
                            <option value="Heavy - Power / Steel">Heavy - Power / Steel</option>
                            <option value="Integrator">Integrator</option>
                            <option value="MVI OEM">MVI OEM</option>
                            <option value="MVI Vendor">MVI Vendor</option>
                            <option value="Non MVI Assembly">Non MVI Assembly</option>
                            <option value="Non MVI Process">Non MVI Process</option>
                            <option value="Government /  Public Sector">Government /  Public Sector</option>
                            <option value="Railways">Railways</option>
                            <option value="Trader Misc">Trader Misc</option>
                            <option value="Others">Others</option>
                          </select> 
                          <div *ngIf="f.industry.errors && f.industry.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.industry.errors.required"><small>Industry is required.</small></div>
                          </div>
                        </div> -->
                        
                      <div class="col-md-4 form-group">
                        <label >Quote Estimated Value</label>
                        <input type="number" class="form-control" placeholder="Enter Your Referral" (change)="handleChange($event,'estimated_value')" value={{this.quoteData?.estimated_value}} formControlName="estimated_value">
                      </div>
                      
                      <div class="clearfix"></div>
                    
                    <div class="col-md-4 form-group">
                        <label >Quote Status <span class="text-danger">*</span>  </label>

                        <select (change)="handleChange($event,'quote_status')" value={{this.quoteData?.quote_status}} formControlName="quote_status" id=" quote_status" class="form-control"  >
                          <option value="" selected disabled>Quote Status </option>
                          <option value="Information Required">Information Required</option>
                          <option value="Deal to be Prepared">Deal to be Prepared</option>
                          <option value="Lost">Lost</option>
                        </select> 
                        <div *ngIf="f.quote_status.errors && f.quote_status.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.quote_status.errors.required"><small>Quote Status is required.</small></div>
                          </div>
                      </div>
                   
  
                    <div class="col-md-4 form-group">
                      <label >Quote From -( DT Company Branch)  <span class="text-danger">*</span>  </label>
                     
                      <!-- <select (change)="handleBranchAdd($event)" value={{this.quoteData?.quote_location}} formControlName="quote_location" id="quote_location" class="form-control"  >
                        <option value="" selected disabled>Select From </option>
                        <option *ngFor="let data of branchData" value={{[data.branch_name,data._id]}}>{{data.branch_name}}</option>
                      </select>  -->

                      <ng-multiselect-dropdown
                      [placeholder]="'Select a Location'"
                      [settings]="locationDropdownSettings"
                      [(ngModel)]="selectedBranch"
                      [data]="branchData"
                      formControlName="quote_location"
                      (onSelect)="handleLocationChange($event)"
                      >
                    </ng-multiselect-dropdown>

                      <div *ngIf="f.quote_location.errors && f.quote_location.errors.required && isValidFormSubmitted"
                            class="text-danger text-left mb-1 errorcontrols">
                            <div *ngIf="f.quote_location.errors.required"><small>Quote From is required.</small></div>
                          </div>
                    </div>

                    <div class="col-md-4 form-group">
                      <label>Select Sales Person:<span class="text-danger">*</span> </label>

                      <ng-multiselect-dropdown
                        [placeholder]="'Select a Sales Person'"
                        [settings]="salesPersonDropdownSettings"
                        [data]="salesPersonData"
                        formControlName="sales_person"
                        [(ngModel)]="this.quoteData.sales_person"
                        >
                      </ng-multiselect-dropdown>

                      <div *ngIf="f.sales_person.errors && f.sales_person.errors.required && isValidFormSubmitted"
                      class="text-danger text-left mb-1 errorcontrols">
                      <div *ngIf="f.sales_person.errors.required"><small>Quote From is required.</small></div>
                    </div>
                    </div>
                 
                  <div class="clearfix"></div>
                  </div>
                </div>
  </div>
  </div>
  <!-------start content2-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                      <div class="panel-heading font-bold">Account Information </div> 
                      <div class="panel-body">
                     
                        <div class="col-md-4 form-group">
                          <label >Industry   </label>
                         
                            <input class="form-control" type="text"  [attr.disabled]=true value={{this.company_industry}}/>
                          <!-- <select formControlName="" id="" class="form-control"  >
                            <option  selected disabled> Select Industry</option>
                            <option value="">drs</option>
                            <option value="">vf</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                          </select>  -->
                        </div>
                       
                        <div class="col-md-4 form-group">
                          <label >Country   </label>
                         
                          <!-- <select formControlName="" id="" class="form-control"  >
                            <option  selected disabled> Select Country  </option>
                            <option value="">drs</option>
                            <option value="">vf</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                          </select>  -->
                          <input class="form-control" type="text" [attr.disabled]=true  value={{this.company_country}}/>
                        </div>
                       
                  
                        <div class="col-md-4 form-group">
                          <label >State    </label>
                         
                          <!-- <select formControlName="" id="" class="form-control"  >
                            <option  selected disabled> Select State  </option>
                            <option value="">drs</option>
                            <option value="">vf</option>
                            <option value=""></option>
                          </select>  -->
                          <input class="form-control" type="text" [attr.disabled]=true  value={{this.company_state}}/>
                        </div>
                        <div class="clearfix"></div>
                  
                        <div class="col-md-4 form-group">
                          <label >City    </label>
                        
                          <!-- <select formControlName="" id="" class="form-control"  >
                            <option  selected disabled> Select City </option>
                            <option value="">drs</option>
                            <option value="">vf</option>
                            <option value=""></option>
                          </select>  -->
                          <input class="form-control" type="text" [attr.disabled]=true  value={{this.company_city}}/>
                        </div>
                        
                  
                        <div class="col-md-4 form-group">   
                          <label >Location  </label>
                         
                          <!-- <input type="text"  class="form-control " placeholder="Enter Location" formControlName="account_id"/> -->
                          <input class="form-control" type="text" [attr.disabled]=true  value={{this.company_location}}/>
                        </div>  
                      
                  
                        <div class="col-md-4 form-group">
                          <label >GST  </label>
                        
                            <input class="form-control" type="text" [attr.disabled]=true  value={{this.company_gst}}/>
                            <!-- <input type="text"  class="form-control " placeholder="Enter GST" formControlName="gst"/> -->
                        </div>
                       <div class="clearfix"></div>
                  
                        <div class="col-md-4 form-group">
                          <label>PAN  </label>
                        
                          <input class="form-control" type="text" [attr.disabled]=true  value={{this.company_pan}}/>
                          <!-- <input type="text"  class="form-control " placeholder="Enter GST" formControlName="pan"/> -->
                        </div>
                     
                  
                        <div class="col-md-4 form-group">
                          <label >TAN  </label>
                      
                          <input class="form-control" type="text" [attr.disabled]=true  value={{this.company_tan}}/>
                          <!-- <input type="text"  class="form-control " placeholder="Enter TAN" formControlName="tan"/> -->
                        </div>
                      
                                   
                        <div class="col-md-4 form-group">
                          <label class="col-md-3 control-label">CIN  </label>
                       
                          <input class="form-control" type="text" [attr.disabled]=true value={{this.company_cin}}/>
                          <!-- <input type="text"  class="form-control " placeholder="Enter CIN" formControlName="tan"/> -->
                        </div>
                       <div class="clearfix"></div>      
                          
              </div>
              </div>
            </div>
          </div>
              <!-------end content2-->
                      <!-------start content3-->
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">Contact Information</div> 
                    <div class="panel-body">
                   
                      <div class="col-md-4 form-group">
                        <label >Role  </label>
                        
                        <input type="text"  class="form-control" value={{this.contact_role}} [attr.disabled]=true placeholder="" />
                      </div>
                  
                
                
                      <div class="col-md-4 form-group">
                        <label >Contact Name  </label>
                        
                        <!-- <select formControlName="" id="" class="form-control"  >
                          <option  selected disabled>   </option>
                          <option value="">drs</option>
                          <option value="">vf</option>
                          <option value=""></option>
                          <option value=""></option>
                          <option value=""></option>
                        </select>  -->
                        <input type="text"  class="form-control" value={{this.contact_name}} [attr.disabled]=true placeholder="" />
                      </div>
                      
                
                      
                      <div class="col-md-4 form-group">
                        <label >phone  </label>
                       
                        <!-- <input type="text"  class="form-control " placeholder="" formControlName=""/> -->
                        <input type="text"  class="form-control" value={{this.contact_phone}} [attr.disabled]=true placeholder="" />
                      </div>
                     <div class="clearfix"></div>
  
                      <div class="col-md-4 form-group">
                        <label >Mobile </label>
                     
                        <input type="text"  class="form-control" value={{this.contact_mobile}} [attr.disabled]=true placeholder="" />
                        <!-- <input type="text"  class="form-control " placeholder="" formControlName=""/> -->
                      </div>
                   
                
                      <div class="col-md-4 form-group">
                        <label>Email </label>

                     
                        <input type="text"  class="form-control" value={{this.contact_email}} [attr.disabled]=true placeholder="" />
                        <!-- <input type="text"  class="form-control " placeholder="" formControlName=""/> -->
                      </div>
                     
            </div>
            </div>
          </div>
        </div>
        <!-- End content3 -->
  <!---------start content4-->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Remark</div> 
        <div class="panel-body">
       
          <div class="col-md-12 form-group">  
            
              <input type="text" class="form-control" placeholder="Remark" value={{this.quoteData?.remark}} formControlName="remark">
            </div>
          </div>   
            
  </div>
  </div>
  </div>
  <!---------end content4-->
               <!-------start content5-->
            <div class="row">
              <div class="col-sm-12" >
                <div class="panel panel-default">
                <div class="panel-body">
                  <div style="text-align: right;">
                    <button class="add-group"   data-toggle="modal" data-target="#exampleModalCenter1">ADD Product</button>
                    
                    </div>
                    <br>
                  <div class="example-wrapper">

                    <!-- <kendo-combobox [data]="data1" textField="productname" valueField="productname" [filterable]="true"
                       placeholder="Products" (filterChange)="handleFilter($event)" (selectionChange)="selectionChange($event)"  >
                    </kendo-combobox> -->
                  
                    <ng-multiselect-dropdown
                    [placeholder]="'Select a Product'"
                    [settings]="productDropdownSettings"
                    [data]="data1"
                    formControlName="selected_contact"
                    (onSelect)="selectionChange($event)"
                    >
                    </ng-multiselect-dropdown>
                  
                  <br/>
                  <br /><br />
                  <kendo-treelist kendoTreeListExpandable [data]="data"
                        [fetchChildren]="fetchChildren"
                        [hasChildren]="hasChildren"
                        [pageable]="true" [pageSize]="20" [sortable]="true" [sort]="sort" [navigable]="true" >
                  
                  
                    <kendo-treelist-column [width]="30">
                  
                      <ng-template kendoTreeListCellTemplate let-dataItem>
                        <input type="checkbox" *ngIf='dataItem?.type==="Group"' name="dataItem.id" class="k-checkbox" (change)="selectProducts(dataItem,$event)">
                      </ng-template>
                    </kendo-treelist-column>
                  
                    <kendo-treelist-column [expandable]="true" field="productname" title="Name" [width]="270">
                      <ng-template kendoTreeListCellTemplate let-dataItem>
                  
                        <span class="k-icon k-i-{{
                                dataItem.type === 'Group' ? 'folder' : 'file'
                              }}"></span>
                        {{ dataItem.productname }}
                      </ng-template>
                    </kendo-treelist-column>
                    <kendo-treelist-column field="type" title="Type" [width]="100">
                    </kendo-treelist-column>
                    <kendo-treelist-column  title="Unit Price" [width]="200">
                      <ng-template kendoTreeListCellTemplate let-product>
                        <input data-val-range-min="1" data-val-range="Length should be greater 1" [readonly]="product.type === 'Group' ? true : false" name="size" class="k-textbox" (keyup)="this.handleChangeUnitprice($event,product)" [value]= "product.UnitPrice" required />
                      </ng-template>
                    </kendo-treelist-column>
                  
                    <kendo-treelist-column field="quantity" [width]="180">
                      <ng-template kendoTreeListCellTemplate let-product>
                        <input data-val-range-min="1" data-val-range="Length should be greater 1" [readonly]="product.type === 'Group' ? true : false" name="size" class="k-textbox" (keyup)="this.onchange($event,product)" [value]= "product.quantity" required />
                      </ng-template>
                    </kendo-treelist-column>

                    <kendo-treelist-column field="discount" [width]="100">
                      <ng-template kendoTreeListCellTemplate let-product>
                        <input style="width: 62px" data-val-range-min="1" data-val-range="Length should be greater 1" [readonly]="product.type === 'Group' ? true : false" name="size" class="k-textbox" (keyup)="this.handleDiscount($event,product)" [attr.placeholder]="product.discount"  required /><i class="fa fa-percent fontweight-unset"></i>
                      </ng-template>
                    </kendo-treelist-column>

                    <kendo-treelist-column field="amount" title="Amount" [width]="120">
                    </kendo-treelist-column>
                    <kendo-treelist-column [width]="40">
                      <ng-template kendoTreeListCellTemplate let-product>
                        <i style="cursor: pointer;" class="fa fa-trash" (click)="handleDelete(product)"></i>
                      </ng-template>
                    </kendo-treelist-column>
                  
                  </kendo-treelist>
                  
                  
                  <!-- <button type="button" (click)="checkMergeSelection()" >Merge</button> -->
                  <div class="product_footer">

                  <button type="button" class="add-group" id="myModalgroupShow" data-toggle="modal" data-target="#myModalgroup2" >Add Group</button>
                  
                  <div style="display: inline !important;" class="example-wrapper" *ngIf="showDropdownBox">
                    <p style="display: inline !important;">Select an item:</p>
                    <kendo-multiselecttree
                      #multiselecttree
                      [checkAll]="true"
                      kendoMultiSelectTreeExpandable
                      [kendoMultiSelectTreeHierarchyBinding]="showDropdownData"
                      textField="productname"
                      (open)="handleBoxOpen()"
                      (valueChange)="handlechangeValue($event)"
                      valueField="id"
                      childrenField="products"
                    >
                    </kendo-multiselecttree>
                  </div>
                  <div class="show-total"><p>Total Amount:{{this.totalAmount}}</p><p>Total Quantity:{{this.totalQuantity}}</p></div>
                </div>


                  <div id="myModalgroup2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                  
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Add Group</h4>
                        </div>
                        <div class="modal-body">
                         <input class="form-control" type="text" value={{this.groupName}} (input)="inputName($event)">
                        </div>
                        <div class="modal-footer">
                          <button type="button"  class="btn btn-default" id="closenameinp" data-dismiss="modal">Close</button>
                          <button type="button"  class="btn btn-primary" (click)="checkAddGroup()" >Save</button>
                        </div>
                      </div>
                  
                    </div>
                  </div>





                  <input type="hidden" id="showmodal" data-toggle="modal" data-target="#myModal">
                  
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="productLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="productLabel">Product Merge</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body " style="min-height: 200px;">
                          <div class="col-md-12 form-group">
                            <label>Enter Product Merge Name:</label>
                            <input  (input)="inputName($event)" value={{this.groupName}} type="text" class="form-control">
                           
                          </div>
                          <div class="col-md-12">
                            <table class="table" >
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let prdc of selectedProduct">
                                  <td>{{prdc.productname}}</td>
                                  <td>{{prdc.type}}</td>
                                  <td>{{prdc.UnitPrice}}</td>
                                  <td>{{prdc.amount}}</td>
                                </tr>
                                  <tr >
                                    <th></th>
                                    <th>Group Part No</th>
                                    <th>Group Price</th>
                                    <th>Group Amount</th>
                                  </tr>
                                  <tr >
                                    <th></th>
                                    <td>{{this.groupPartNumber}}</td>
                                    <td>{{this.groupSize}}</td>
                                    <td>{{this.groupAmount}}</td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                        
                        </div>
                        <div class="modal-footer">
                          <button type="button" id="closebtn" class="btn btn-dark" data-dismiss="modal">Close</button>
                          <button type="button" (click)="mergeSelection()" class="btn btn-primary">Merge Selected Products</button>
                          
                          <!-- (click)="MergeProducts()" -->
                        </div>
                      </div>
                    </div>
                  </div>
                  

                  </div>

           </div>           
          </div>
          </div>
        </div>
            <!-------end content5-->
            <!------end content6-->
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Note</div> 
                <div class="panel-body">
              
  
                  <div class="col-md-12 form-group">  
                    
                      <input type="text" class="form-control" placeholder="Enter Note" value={{this.quoteData?.note}} formControlName="note">
                    </div>
                  </div>   
                    
        </div>
        </div>
      </div>
        <!-- End content6 -->
         <!------end content7-->
         <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
            
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="col-md-10 ">
                 <b> Attachment</b>
                 </div>
                 <div  style="text-align: right;padding-right:18px;">
                  <b onclick="$('#file').click()" style="cursor: pointer;">Attach <i class="fa fa-paperclip " aria-hidden="true"></i></b>
                      <input accept="application/pdf,image/*" type="file" (change)="handleAttachmentUpload($event)" multiple encType="multipart/form-data" class="form-control " placeholder="Uplode your Company Logo" id="file" formControlName="attachments" style="font-size:12px; border-right:0px;display: none;" >
                  </div>
                 </div>
                <br>
                <br>
                <div class="row">
                <div class="col-md-12"  style="padding:0px;">   
                 <table class="table">
                 <thead>
                                  <tr style="background:#FFE5E5; ">
                                      <th>File Name</th>
                                      <th>Attach By </th>
                                      <th>Date added</th>
                                      <th>Size</th>
                                      <th></th>
                                   
                                  </tr>
                                  <tr *ngFor="let file of show_files"><th>
                                    <!-- <a href="" style="color:blue">{{file.name}}</a></th> -->
                                    <p  style="color:blue">{{file.name}}</p></th>  
                                    <th>{{file.attached_by}}</th>
                                      <th>{{file.upload_date}}</th>
                                      <th>{{file.size}}</th>
                                      <th><i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                                      <i  class="fa fa-trash"  aria-hidden="true"></i></th>
                                      </tr>
                              </thead>
                 </table>
                </div>
                </div>
                </div>
      </div>
      </div>
    </div>
    <!--end -->        
  

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">INCO Terms</div> 
          <div class="panel-body">
        
            <!-- <div  class="form-group  col-md-12 " style="display: flex;align-items: flex-end;">
                <div class="col-md-12" >
                  <div *ngFor="let term of incoTerm; index as i;" style="margin: 5px 0" class="col-md-12 input-group">
  
                    <input  (blur)="handleBlurIncoTerm($event,i)"  value={{term.value}} type="text" class="form-control" placeholder="Input Term" >
                    <span (click)="handleDeleteIncoTerm(i)" style="cursor: pointer;" class="input-group-addon">X</span>
                  </div>
                </div>
                <div class="input-group-addon "  (click)="handleAddIncoTerm()"   style="margin: 5px 0; color:red;font-size:20px;background:white;border-left: 1px solid #cfdadd; width: 35px;cursor: pointer;">+</div>
              </div> -->
              <div class="col-md-12 form-group">  
              
                <select formControlName="p_f" id="p_f" class="form-control"  >
                  <option value="" selected disabled>Select INCO TERMS   </option>
                  <option value="DOD - Door delivery to your plant">DOD - Door delivery to your plant</option>
                  <option value="FOB Lucknow">FOB Lucknow</option>
                  <option value="FOB Rudrapur">FOB Rudrapur</option>
                  <option value="Others">Others</option>
                </select>
              </div> 
            </div>    
    
              
    </div>
    </div>
    </div>
  <!-- End content11-->
                   
  <!------end content12-->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Payment Terms</div> 
        <div class="panel-body">
      
  
          <!-- <div class="form-group  col-md-12 ">
              <div *ngFor="let pmt of pmtTerm;index as i" class="input-group" style="margin: 5px;">
                <input (blur)="handleBlurPmtTerm($event,i)" value={{pmt.value}} type="text" class="form-control " aria-describedby="inputGroupSuccess2Status" placeholder="Search" formControlName="payment_terms">
                <span (click)="handleDeletePmtTerm(i)" class="input-group-addon " style="color:red;font-size:20px;background:white;border-radius: 0px;">X</span>
            </div>
            <div (click)="handleAddPmtTerm()" style="cursor: pointer; color:red;font-size:20px;background:white;border-radius: 0px;">+</div>
            </div> -->
            
            <!-- <div  class="form-group  col-md-12 " style="display: flex;align-items: flex-end;">
              <div class="col-md-12" >
                <div *ngFor="let term of pmtTerm; index as i;" style="margin: 5px 0" class="col-md-12 input-group">

                  <input  (blur)="handleBlurPmtTerm($event,i)"   value={{term.value}} type="text" class="form-control" placeholder="Input Term" >
                  <span (click)="handleDeletePmtTerm(i)" style="cursor: pointer;" class="input-group-addon">X</span>
                </div>
              </div>
              <div class="input-group-addon "  (click)="handleAddPmtTerm()"   style="margin: 5px 0; color:red;font-size:20px;background:white;border-left: 1px solid #cfdadd; width: 35px;cursor: pointer;">+</div>
            </div> -->
            <div class="col-md-12 form-group">  
            
              <select formControlName="p_t" id="p_t" class="form-control"  >
                <option value="" selected disabled>Select Payment Terms    </option>

                <option value="100% within 30 days of GR">100% within 30 days of GR</option>
                <option value="100% within 7 days of GR">100% within 7 days of GR</option>
                <option value="100% immediately against delivery">100% immediately against delivery</option>
                <option value="100% against delivery on COD Basis">100% against delivery on COD Basis</option>
                <option value="100% against Pro forma Invoice before dispatch">100% against Pro forma Invoice before dispatch</option>
                <option value=" 90% within 30 days of GR 10% after I&C & Others"> 90% within 30 days of GR 10% after I&C & Others</option>
              </select>
            </div> 
          </div>   

          </div>  
            
  </div>
  </div>
  <!-- End content12-->
  <!-- start content13-->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Terms & Conditions</div> 
        <div class="panel-body">
      
          <div class="col-md-12 form-group">   
            <label>P&F  </label>
          
              <select formControlName="p_f" id="p_f" class="form-control"  >
                <option value="" selected disabled>Select P&F   </option>
                <option value="Not applicable">Not applicable</option>
                <option value="Inclusive">Inclusive</option>
                <option value="Extra @2%">Extra @2%</option>
                <option value="Extra  @3%">Extra  @3%</option>
               
              </select>
            </div>  
    
             
          <div class="col-md-12 form-group">   
            <label>Freight  </label>
      
              <select formControlName="freight" id="freight" class="form-control"  >
                <option value="" selected disabled>Select Freight   </option>
                <option value="Not applicable">Not applicable</option>
                <option value="Inclusive">Inclusive</option>
                <option value="Extra as per actuals to  your account">Extra as per actuals to  your account</option>
                <option value="Dispatch  on 'To Pay' basis">Dispatch  on 'To Pay' basis</option>
                <option value="Others">Others</option>

              </select>
            </div>  
         
          <div class="col-md-12 form-group">   
            <label>Taxes </label>
        
              <select formControlName="taxes" id="taxes" class="form-control"  >
                <option value="" selected disabled>Select Taxes  </option>
                <option value="Extra as applicable">Extra as applicable</option>
                <option value="Others">Others</option>
               
              </select>
            </div>  
        
          <div class="col-md-4 form-group">   
            <label >Other  </label>
          
              <!-- <select formControlName="other_charges" id="other_charges" class="form-control"  >
                <option  selected disabled>Select Other  </option>
                <option value="">drs</option>
               
              </select> -->
              <input type="text" class="form-control" placeholder="Enter Others" formControlName="other_charges">
            </div>  
         

          <div class="col-md-4 form-group">
            <label >Delivery </label>
           
            <select formControlName="delivery" id="delivery" class="form-control"  >
              <option value="" selected disabled> Select Delivery  </option>
              <option value="1-2 weeks">1-2 weeks</option>
              <option value="3-4 weeks">3-4 weeks</option>
              <option value="4-6 weeks">4-6 weeks</option>
              <option value="6-8 weeks">6-8 weeks</option>
              <option value="8-10 weeks">8-10 weeks</option>
              <option value="10-12 weeks">10-12 weeks</option>
              <option value="12-16 weeks">12-16 weeks</option>
              <option value="Others">Others</option>
            </select> 
          </div>
         


          
  
          <div class="col-md-4 form-group">
            <label >Warranty  </label>
          
            <select formControlName="warrenty" id="warrenty" class="form-control"  >
              <option value="" selected disabled> Select  Warranty </option>
              <option value="Not Applicable">Not Applicable</option>
              <option value="6 months (from date of  sale)">6 months (from date of  sale)</option>
              <option value="12 months (from  date of sale)">12 months (from  date of sale)</option>
              <option value="Others">Others </option>
            </select> 
          </div>
         
        
  <div class="clearfix"></div>
          <div class="col-md-12 form-group">   
            <label >Deal Validity  </label>
            </div>
            <div class="col-md-12 form-group"> 
            <div class="col-md-1 deal_div" style="border: 1px solid black;"> 
              <input type="radio" [checked]="deal_validity==='7 Days'" name="validity" (click)="handleCheckbox('7 Days')" style="font-size:12px;"/> 7 Days
            </div>
            <div class="col-md-1 deal_div" style="border: 1px solid black;"> 
              <input type="radio" [checked]="deal_validity==='15 Days'" name="validity" (click)="handleCheckbox('15 Days')" style="font-size:12px;"/> 15 Days
            </div>
            <div class="col-md-1 deal_div" style="border: 1px solid black;"> 
              <input type="radio" [checked]="deal_validity==='30 Days'" name="validity"  (click)="handleCheckbox('30 Days')"  style="font-size:12px;"/> 30 Days
            </div>
            <div class="col-md-1 deal_div" style="border: 1px solid black;"> 
              <input type="radio" [checked]="deal_validity==='60 Days'" name="validity" (click)="handleCheckbox('60 Days')" style="font-size:12px;"/> 60 Days
            </div>
            <div class="col-md-1  deal_div" style="border: 1px solid black;"> 
              <input type="radio" [checked]="deal_validity==='90 Days'" name="validity"  (click)="handleCheckbox('90 Days')" style="font-size:12px;"/> 90 Days
            </div>
            <!-- <div class="col-md-1 deal_div" style="border: 1px solid black;"> 
              <input type="radio" [checked]="deal_validity==='Other'" name="validity"  (click)="handleCheckbox('Other')" style="font-size:12px;"/> Other
            </div> -->
            </div>  
      
  </div>
  
  </div>
  <!-- end content13-->
                     
                       
                     
                      
  
                      <div class="row">
                        <div class="col-sm-12">
                        <div style="border:2px dashed red; ">  
                        <div class="panel-body">
  
                          <div class="col-md-6 form-group">
                            <label class="col-md-3 control-label">Prepared By : </label>
                            <div class="col-md-9">
                              <input class="form-control" type="text" value={{this.quoteData?.quote_owner[0].username}} disabled>
                            <!-- <select formControlName="" id="" class="form-control"  >
                              <option  selected disabled> Select user</option>
                              <option value="">drs</option>
                              <option value="">vf</option>
                              <option value=""></option>
                              <option value=""></option>
                              <option value=""></option>
                            </select>  -->
                          </div>
                          </div>
  
                      <div class="col-md-6 form-group">
          <label class="col-md-3 control-label">Modified By : </label>
          <div class="col-md-9">
          <!-- <select formControlName="" id="" class="form-control"  >
            <option  selected disabled> Select User</option>
            <option value="">drs</option>
            <option value="">vf</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>  -->
          <input class="form-control" type="text" value={{this.quoteData?.modified_by}} disabled>
        </div>
        </div>
  
        <div class="col-md-6 form-group">
          <label class="col-md-3 control-label">Verified By  : </label>
          <div class="col-md-9">
            <input class="form-control" type="text" value={{this.quoteData?.verified_by?.username}} disabled>
            <!-- value={{this.quoteData?.verified_by[0]?.username}} -->
          <!-- <select formControlName="" id="" class="form-control"  >
            <option  selected disabled> Select User</option>
            <option value="">drs</option>
            <option value="">vf</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>  -->
        </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="col-md-3 control-label">Approved By  : </label>
          <div class="col-md-9">
            <input class="form-control" value={{this.quoteData?.approved_by?.username}} type="text"  disabled>
            <!-- value={{this.quoteData?.approved_by[0]?.username}} -->
          <!-- <select formControlName="" id="" class="form-control"  >
            <option  selected disabled> Select User</option>
            <option value="">drs</option>
            <option value="">vf</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>  -->
        </div>
        </div></div></div>
       
          <div >
          <div  style="text-align: right; margin:10px 0px;" >
          <button type="cancel" class="btn btn-dark" (click)="handleBack()" >Cancel</button>
          <button type="submit" class="btn btn-danger" (click)="SubmitForm()">Update</button>
          <button *ngIf="this.userPermission?.convertquotetodeal" type="submit" class="btn btn-primary" (click)="handleDealConvert()">Convert To Deal</button>
  
          </div>
        </div>
        </div>
      </div>  
    </div> 
    </div>
    </div>
  </form>


  <!-- model -->

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close  m-t-xs" data-dismiss="modal"><span>⤬</span></button>
      <span class="modal-title  font-weight-600 text-20">Add Product</span>
    </div>
    <div class="modal-body">
      <div class="details">
      <form  [formGroup]="productForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Type</label>
                <select formControlName="type" class="form-control">
                  <option value="" disabled>Select Type</option>
                    <option value="Product">Product</option>
                    <option value="Service">Service</option>
                </select>
                <div *ngIf="fm.type.errors && fm.type.errors.required && isValidFormSubmitted"
                 class="text-danger text-left mb-1 errorcontrols">
                 <div *ngIf="fm.type.errors.required"><small>Type  is
                     required.</small></div>
               </div>
              </div>
            </div>
           
          <div class="col-md-6">
              <div class="form-group">
                <label >Product Name</label> 
                <input formControlName="productname" type="text" class="form-control" placeholder="" >
                <div *ngIf="fm.productname.errors && fm.productname.errors.required && isValidFormSubmitted"
                class="text-danger text-left mb-1 errorcontrols">
                <div *ngIf="fm.productname.errors.required"><small>Product Name  is
                    required.</small></div>
              </div>
              </div>
            </div>
        </div>
         
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Part No</label>
              <input formControlName="PartNo" type="text" class="form-control" placeholder="" >
              <div *ngIf="fm.PartNo.errors && fm.PartNo.errors.required && isValidFormSubmitted"
              class="text-danger text-left mb-1 errorcontrols">
              <div *ngIf="fm.PartNo.errors.required"><small>Part No  is
                  required.</small></div>
            </div>
            </div>
            </div>
           
          <div class="col-md-6">
              <div class="form-group">
                <label> CCN No</label>
                <input formControlName="CCNNo" type="text" class="form-control" placeholder="" >
                </div>
            </div>
        </div>
         
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Unit Price</label>
              <input formControlName="UnitPrice" type="text" class="form-control" placeholder="" >
              <div *ngIf="fm.UnitPrice.errors && fm.UnitPrice.errors.required && isValidFormSubmitted"
class="text-danger text-left mb-1 errorcontrols">
<div *ngIf="fm.UnitPrice.errors.required"><small>Unit Price is
  required.</small></div>
</div>
            </div>
            </div>
           
          <div class="col-md-6">
              <div class="form-group">
                <label> UOM</label>
                <input formControlName="UOM" type="text" class="form-control" placeholder="" >
                <div *ngIf="fm.UOM.errors && fm.UOM.errors.required && isValidFormSubmitted"
                class="text-danger text-left mb-1 errorcontrols">
                <div *ngIf="fm.UOM.errors.required"><small>UOM Price is
                    required.</small></div>
              </div>
              </div>
            </div>
        </div>
         
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label> Category</label>
               <input formControlName="Category" type="text" class="form-control" placeholder="" >
              </div>
            </div>
           
          <div class="col-md-6">
              <div class="form-group">
                <label>OEM</label>
                <input formControlName="OEM" type="text" class="form-control" placeholder="" >
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label> OEM Product Code</label>
              <input formControlName="OEMProductCode" type="text" class="form-control" >
              </div>
            </div>
           
          <div class="col-md-6">
              <div class="form-group">
                <label> HSN Code</label>
                <input  formControlName="HSNCode" type="text" class="form-control" placeholder="" >
                </div>
            </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label> GST</label>
              <input formControlName="GST" type="text" class="form-control" placeholder="" >
              </div>
            </div>
           
          
        </div>

        
          <div class="row">
            <div class="col-md-6">
              <label class="control-label font-weight-600">&nbsp;</label>
              <div class="form-group">
                  <button type="button"  class="btn btn-dark"  id="closemodal" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-danger" (click)="handleSubmit()">Save</button>
              </div>
            </div>
          </div>



      </form>
      </div>
    </div>
  </div>
</div>
</div>